@media only screen and (max-width: 1400px) {
  .container-menunggu-pembayaran{
    min-height: 350vh;
    min-width: 90vw;
    padding: 50px 150px 50px 150px;
  }
  .judul-menunggu-pembayaran{
    position: absolute;
    width: 270px;
    height: 28px;
    left: 200px;
    top: 159px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .box-batas-akhir-pembayaran{
    position: absolute;
    width: 826px;
    height: 106px;
    left: 200px;
    top: 227px;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 38, 0.02), 0px 4px 12px 4px rgba(155, 0, 28, 0.08);
    border-radius: 16px;
  }

  .judul-page-batas-akhir-bayar{
    position: absolute;
    width: 160px;
    height: 20px;
    left: 42px;
    top: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #737A8D
  }

  .tanggal-batas-akhir-bayar{
    position: absolute;
    width: 249px;
    height: 19px;
    left: 42px;
    top: 56px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .timer-batas-akhir-bayar{
    position: absolute;
    width: 152px;
    height: 32px;
    left: 634px;
    top: 37px;
    border: 1px solid black;
  }

  .box-batas-akhir-pembayaran-2{
    position: absolute;
    width: 826px;
    height: 249px;
    left: 200px;
    top: 373px;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 38, 0.02), 0px 4px 12px 4px rgba(155, 0, 28, 0.08);
    border-radius: 16px;
  }

  .judul-ringkasan-order{
    position: absolute;
    width: 386.6px;
    height: 24px;
    left: 40px;
    top: 28px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .foto-order-obat{
    position: absolute;
    width: 123.63px;
    height: 115.34px;
    left: 40px;
    top: 80px;
    border: 1px solid blue

  }

  .nama-obat-ringkasan-order{
    position: absolute;
    width: 185.68px;
    height: 24px;
    left: 230px;
    top: 76px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .jumlah-obat-ringkasan-order{
    position: absolute;
    width: 40.03px;
    height: 18px;
    left: 230px;
    top: 102px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .harga-obat-ringkasan-order{
    position: absolute;
    width: 70px;
    height: 20px;
    left: 716px;
    top: 78px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #213360;
  }

  .tampilkan-detail-ringkasan-order{
    position: absolute;
    width: 94px;
    height: 18px;
    left: 230px;
    top: 153px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #E0004D;
  }

  .keterangan-sub-total-order{
    position: absolute;
    width: 296px;
    height: 28px;
    left: 230px;
    top: 193px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .nominal-total-semua-order{
    position: absolute;
    width: 141.44px;
    height: 28px;
    left: 720px;
    top: 193px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #213360;
  }

  .garis-1-menunggu-order{
    position: absolute;
    width: 746px;
    height: 0px;
    left: 40px;
    top: 64px;
    border: 1.5px solid #F5F6F9;
  }

  .garis-2-menunggu-order{
    position: absolute;
    width: 556px;
    height: 0px;
    left: 230px;
    top: 181px;
    border: 1.5px solid #F5F6F9;
  }

  .box-batas-akhir-pembayaran-3{
    position: absolute;
    width: 827px;
    height: 284px;
    left: 200px;
    top: 662px;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 38, 0.02), 0px 4px 12px 4px rgba(155, 0, 28, 0.08);
    border-radius: 16px;
  }

  .nama-metode-pembayaran-order{
    position: absolute;
    width: 196px;
    height: 24px;
    left: 30px;
    top: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .logo-bca-order{
    position: absolute;
    width: 91.2px;
    height: 28px;
    left: 680px;
    top: 30px;
    border: 1px solid red;
  }

  .garis-box-3-order{
    position: absolute;
    width: 746px;
    height: 0px;
    left: 30px;
    top: 70px;
    border: 1.5px solid #F5F6F9;
  }
  
  .inside-box-1-order{
    position: absolute;
    width: 248px;
    height: 56px;
    left: 30px;
    top: 100px;
  }

  .inside-box-2-order{
    position: absolute;
    width: 126px;
    height: 56px;
    left: 30px;
    top: 180px;
  }

  .judul-nomor-va{
    position: absolute;
    width: 149px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #737A8D;
  }

  .nominal-va-order{
    position: absolute;
    width: 248px;
    height: 28px;
    left: 0px;
    top: 20px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #213360;

  }

  .tulisan-salin-va{
    position: absolute;
    width: 40px;
    height: 19px;
    left: 680px;
    top: 130px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #E0004D;

  }

  .logo-salin-va{
    position: absolute;
    width: 40px;
    height: 19px;
    left: 725px;
    top: 130px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #E0004D;
    cursor: pointer;

  }

  .judul-total-bayar-order{
    position: absolute;
    width: 117px;
    height: 20px;
    left: 0px;
    top: 0px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #737A8D;

  }

  .nominal-total-bayar-va{
    position: absolute;
    width: 126px;
    height: 28px;
    left: 0px;
    top: 20px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .button-ke-beranda-order{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    position: absolute;
    width: 405px;
    height: 52px;
    left: 200px;
    top: 986px;
    border: 1.4px solid #E0004D;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color:#E0004D;
    cursor: pointer;
  }

  .button-cek-status-bayar-order{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    position: absolute;
    width: 405px;
    height: 52px;
    left: 620px;
    top: 986px;
    background: #E0004D;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    cursor: pointer;
  }

  .garis-page-menunggu-pembayaran{
    position: absolute;
    width: 826px;
    height: 0px;
    left: 200px;
    top: 1122px;
    border: 1px solid #D5D7DD;
  }

  .keterangan-cara-pembayaran{
    position: absolute;
    width: 168px;
    height: 24px;
    left: 200px;
    top: 1206px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .nama-atm-cara-pembayaran{
    position: absolute;
    width: 200px;
    height: 19px;
    left: 200px;
    top: 1274px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .box-cara-pembayaran{
    position: absolute;
    width: 616px;
    height: 216px;
    left: 200px;
    top: 1321px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .logo-atas-order{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1000px;
    top: 1274px;
  }
  

  .logo-bawah-order{
    position: absolute;
    width: 36px;
    height: 36px;
    left: 1000px;
    top: 1601px;
  }

}


@media only screen and (max-width: 600px) {

  .box-navbar-mobile-order{
    position: absolute;
    width: 375px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.02), 0px 4px 12px 4px rgba(155, 0, 28, 0.08);
  }
  
  .judul-menunggu-pembayaran{
    position: absolute;
    width: 188px;
    height: 22px;
    left: 45px;
    top: 50px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .pinggiran-atas-menunggu-bayar{
    position: absolute;
    left: 20px;
    top: 50px; 
    color: #213360;
  }

  .box-batas-akhir-pembayaran{
    position: relative;
    width: 300px;
    height: 300px;
    left: -20px;
    top: 10px;
    background: none;
    box-shadow: none;
    border-radius: none;
  }

  .judul-page-batas-akhir-bayar{
    position: absolute;
    width: 155px;
    height: 18px;
    left: 24px;
    top: 128px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #737A8D;
  }

  .tanggal-batas-akhir-bayar{
    position: absolute;
    width: 158px;
    height: 40px;
    left: 24px;
    top: 150px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .timer-batas-akhir-bayar{
    position: absolute;
    width: 110px;
    height: 24px;
    left: 241px;
    top: 150px;
    border: 1px solid black;
  }

  .box-batas-akhir-pembayaran-2{
    position: absolute;
    width: 327px;
    height: 228px;
    left: 24px;
    top: 250px;    
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 38, 0.02), 0px 4px 12px 4px rgba(155, 0, 28, 0.08);
    border-radius: 16px;
  }

  .judul-ringkasan-order{
    position: absolute;
    position: absolute;
    width: 112px;
    height: 20px;
    left: 20px;
    top: 16px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .foto-order-obat{
    position: absolute;
    width: 72px;
    height: 73px;
    left: 20px;
    top: 64px;

  }

  .nama-obat-ringkasan-order{
    position: absolute;
    width: 90px;
    height: 40px;
    left: 104px;
    top: 70px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .jumlah-obat-ringkasan-order{
    position: absolute;
    width: 75px;
    height: 18px;
    left: 104px;
    top: 112px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #4F618E;
  }

  .harga-obat-ringkasan-order{
    position: absolute;
    width: 101.14px;
    height: 20px;
    left: 205px;
    top: 92px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #213360;
  }

  .tampilkan-detail-ringkasan-order{
    position: absolute;
    width: 94px;
    height: 18px;
    left: 104px;
    top: 142px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #E0004D;
  }

  .keterangan-sub-total-order{
    position: absolute;
    width: 71px;
    height: 20px;
    left: 20px;
    top: 192px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .nominal-total-semua-order{
    position: absolute;
    width: 67px;
    height: 20px;
    left: 240px;
    top: 192px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #213360;
  }

  .garis-1-menunggu-order{
    position: absolute;
    width: 287px;
    height: 0px;
    left: 20px;
    top: 48px;    
    border: 1px solid #F8F8F8;
  }

  .garis-2-menunggu-order{
    position: absolute;
    width: 287px;
    height: 0px;
    left: 20px;
    top: 176px;
    border: 1px solid #F8F8F8;
  }

  .box-batas-akhir-pembayaran-3{
    position: absolute;
    width: 327px;
    height: 170px;
    left: 24px;
    top: 520px;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 38, 0.02), 0px 4px 12px 4px rgba(155, 0, 28, 0.08);
    border-radius: 16px;
  }

  .nama-metode-pembayaran-order{
    position: absolute;
    width: 137px;
    height: 20px;
    left: 20px;
    top: 16px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .logo-bca-order{
    position: absolute;
    width: 53px;
    height: 16px;
    left: 254px;
    top: 20px;    
    border: 1px solid red;
  }

  .garis-box-3-order{
    position: absolute;
    width: 287px;
    height: 0px;
    left: 20px;
    top: 48px;
    border: 1px solid #F8F8F8;
  }
  
  .inside-box-1-order{
    position: absolute;
    width: 165px;
    height: 41px;
    left: 20px;
    top: 0px;
  }

  .inside-box-2-order{
    position: absolute;
    width: 84px;
    height: 41px;
    left: 20px;
    top: 0px;
  }

  .judul-nomor-va{
    position: absolute;
    width: 106px;
    height: 18px;
    left: 20px;
    top: 60px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #737A8D;
  }

  .nominal-va-order{
    position: absolute;
    width: 165px;
    height: 19px;
    left: 20px;
    top: 82px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .tulisan-salin-va{
    position: absolute;
    width: 30px;
    height: 17px;
    left: 245px;
    top: 82px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #E0004D;

  }

  .logo-salin-va{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 280px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #E0004D;
    cursor: pointer;
  }

  .judul-total-bayar-order{
    position: absolute;
    width: 84px;
    height: 18px;
    left: 20px;
    top: 113px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #737A8D;

  }

  .nominal-total-bayar-va{
    position: absolute;
    width: 84px;
    height: 19px;
    left: 20px;
    top: 135px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .button-ke-beranda-order{
    box-sizing: border-box;
    position: absolute;
    width: 326px;
    height: 46px;
    left: 25px;
    top: 790px;
    border: 1.4px solid #E0004D;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color:#E0004D;
    cursor: pointer;
  }

  .button-cek-status-bayar-order{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 40px;
    gap: 10px;
    position: absolute;
    width: 327px;
    height: 46px;
    left: 24px;
    top: 720px;
    background: #E0004D;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }

  .logo-cs-order{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 103px;
    top: 850px;
  }

  .keterangan-chat-order{
    position: absolute;
    width: 132px;
    height: 17px;
    left: 140px;
    top: 860px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #E0004D;

  }

  .garis-page-menunggu-pembayaran{
    position: absolute;
    width: 375px;
    height: 0px;
    left: 0px;
    top: 890px;    
    border: 1.5px solid #F8F8F8;
  }

  .keterangan-cara-pembayaran{
    position: absolute;
    width: 135px;
    height: 19px;
    left: 25px;
    top: 910px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .nama-atm-cara-pembayaran{
    position: absolute;
    width: 200px;
    height: 19px;
    left: 25px;
    top: 959px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .box-cara-pembayaran{
    position: absolute;
    width: 326px;
    height: 348px;
    left: 25px;
    top: 960px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
    
  }

  .logo-atas-order{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 323px;
    top: 959px;
  }
  

  .logo-bawah-order{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 351px;
    top: 1000px;
  }

}