@media only screen and (max-width: 1400px) {
  .container-menunggu-konfirmasi{
    min-height: 200vh;
    min-width: 90vw;
    padding: 50px 150px 50px 150px;
  }

.judul-menunggu-konfirmasi{
  width: 252px;
  height: 28px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #213360;
  margin-top: 100px;
}

.button-menunggu-konfirmasi{
  width: 65vw;
  height: 70px;
  margin-top: 30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.box-menunggu-konfirmasi{
  width: 826px;
  height: 342px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.02), 0px 4px 12px 4px rgba(155, 0, 8, 0.08);
  border-radius: 16px;
  margin-top: 30px;
}


.inside-box-menunggu-konfirmasi{
  position: absolute;
  width: 826px;
  height: 342px;
}

.detail-resep-judul{
  position: absolute;
  width: 386.6px;
  height: 24px;
  left: 40px;
  top: 28px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #213360;
}

.garis-dalam-detail-resep{
  position: absolute;
  width: 746px;
  height: 0px;
  left: 40px;
  top: 64px;
  border: 1.5px solid #F5F6F9;
}

.gambar-resep-obat{
  position: absolute;
  width: 146px;
  height: 146px;
  left: 40px;
  top: 92px;
}

.box-nomor-resep-1{
  position: absolute;
  width: 150px;
  height: 95px;
  left: 230px;
  top: 98px;
}

.tulisan-nomor-resep{
  position: absolute;
  width: 100px;
  height: 18px;
  left: 0px;
  top: 0px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #737A8D;
}

.tulisan-isi-nomor-resep{
  position: absolute;
  width: 92px;
  height: 17px;
  left: 0px;
  top: 20px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #213360;
}

.tulisan-tanggal-pengajuan{
  position: absolute;
  width: 110px;
  height: 18px;
  left: 0px;
  top: 50px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #737A8D;
}

.tulisan-isi-tanggal{
  position: absolute;
  width: 150px;
  height: 18px;
  left: 0px;
  top: 70px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #213360;
}

.tulisan-perbesar-gambar{
  position: absolute;
  width: 98px;
  height: 18px;
  left: 230px;
  top: 213px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #E0004D;
}

.tulisan-menunggu-balasan{
  position: absolute;
  width: 177px;
  height: 36px;
  left: 609px;
  top: 124px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #737A8D;
}

.timer-logo-menunggu-konfirmasi{
  position: absolute;
  width: 133px;
  height: 28px;
  left: 653px;
  top: 168px;
  border: 1px solid red;
}

.garis-dalam-detail-resep-2{
  position: absolute;
  width: 746px;
  height: 0px;
  left: 40px;
  top: 270px;
  border: 1.5px solid #F5F6F9;
}

.box-batalkan-pengajuan{
  position: absolute;
  width: 315px;
  height: 24px;
  left: 0px;
  top: 0px;
}

.tulisan-batalkan-pengajuan{
  position: absolute;
  width: 160px;
  height: 15px;
  left: 430px;
  top: 285px;
  padding: 15px 20px;
  border-radius: 10px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  cursor: pointer;
  background: #E0004D;
  border: 1px solid #E0004D;
}

.tulisan-batalkan-pengajuan:disabled{
  background: #737A8D;
  color: #FFFFFF;
  border: 1px solid #737A8D;
}

.garis-dalam-detail-resep-3{
  position: absolute;
  width: 24px;
  height: 0px;
  left: 590px;
  top: 300px;
  border: 1px solid #D5D7DD;
  transform: rotate(90deg);
}

.chat-logo-menunggu-konfirmasi{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 618px;
  top: 288px;
}

.chat-cs-menunggu-konfirmasi{
  position: absolute;
  width: 150px;
  height: 17px;
  left: 654px;
  top: 294px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #E0004D;
  cursor: pointer;
}

.button-back-home-menunggu-konfirmasi{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
 cursor: pointer;
  width: 405px;
  height: 52px;
  left: 0px;
  top: 700px;
  border: 1.4px solid #E0004D;
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #E0004D;
  cursor: pointer;
}

.button-check-status-menunggu-konfirmasi{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 40px;
  gap: 10px;
 cursor: pointer;
  width: 405px;
  height: 52px;
  left: 0px;
  top: 0px;font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #E0004D;
  border-radius: 8px;
}

}


@media only screen and (max-width: 600px) {
  .box-judul-menunggu-konfirmasi{
    position: absolute;
    width: 375px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;    
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.02), 0px 4px 12px 4px rgba(155, 0, 10, 0.08);
  }

  .pinggiran-atas-menunggu-konfirmasi{
    position: absolute;
    left: 16px;
    top: 50px;
    color: #213360;
  }

  .judul-menunggu-konfirmasi{
    position: absolute;
    width: 188px;
    height: 22px;
    left: 45px;
    top: 50px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }
  
  .box-menunggu-konfirmasi{
    position: absolute;
    width: 327px;
    height: 350px;
    left: 24px;
    top: 137px;    
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.02), 0px 4px 12px 4px rgba(155, 0, 8, 0.08);
    border-radius: 16px;
  }
  
  .detail-resep-judul{
    position: absolute;
    width: 85px;
    height: 20px;
    left: 20px;
    top: 16px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }
  
  .garis-dalam-detail-resep{
    position: absolute;
    width: 287px;
    height: 0px;
    left: 20px;
    top: 48px;
    border: 1px solid #F8F8F8;
  }
  
  .gambar-resep-obat{
    position: absolute;
    width: 88px;
    height: 88px;
    left: 20px;
    top: 68px;
    border: 1px solid red;
  }
  
  .box-nomor-resep-1{
    position: absolute;
    width: 144px;
    height: 95px;
    left: 0px;
    top: 0px;
    border: none;
  }
  
  .tulisan-nomor-resep{
    position: absolute;
    width: 63px;
    height: 18px;
    left: 128px;
    top: 68px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #737A8D;
  }
  
  .tulisan-isi-nomor-resep{
    position: absolute;
    width: 73px;
    height: 17px;
    left: 128px;
    top: 86px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #213360;
  }
  
  .tulisan-tanggal-pengajuan{
    position: absolute;
    width: 92px;
    height: 18px;
    left: 128px;
    top: 111px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #737A8D;
  }
  
  .tulisan-isi-tanggal{
    position: absolute;
    width: 144px;
    height: 18px;
    left: 128px;
    top: 129px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #213360;
  }
  
  .tulisan-perbesar-gambar{
    position: absolute;
    width: 82px;
    height: 18px;
    left: 128px;
    top: 155px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #E0004D;
  }
  
  .tulisan-menunggu-balasan{
    position: absolute;
    width: 177px;
    height: 32px;
    left: 10px;
    top: 210px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #737A8D; 
    width: 177px;
    height: 36px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #737A8D;
  }
  
  .timer-logo-menunggu-konfirmasi{
    position: absolute;
    width: 96.84px;
    height: 20px;
    left: 210px;
    top: 215px;    
    border: 1px solid red;
  }
  
  .garis-dalam-detail-resep-2{
    position: absolute;
    width: 287px;
    height: 0px;
    left: 20px;
    top: 190px;
    border: 1px solid #F8F8F8;
  }
  
  .box-batalkan-pengajuan{
    position: absolute;
    width: 315px;
    height: 24px;
    left: 0px;
    top: 0px;
    border: none;
  }
  
  .tulisan-batalkan-pengajuan{
    position: absolute;
    width: 115px;
    height: 17px;
    left: 106px;
    top: 313px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #E0004D;
    cursor: pointer;
  }
  
  .garis-dalam-detail-resep-3{
    display: none;
  }
  
  .chat-logo-menunggu-konfirmasi{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 80px;
    top: 270px;    
  }
  
  .chat-cs-menunggu-konfirmasi{
    position: absolute;
    width: 132px;
    height: 17px;
    left: 116px;
    top: 276px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #E0004D;
    cursor: pointer;
  }
  
  .button-back-home-menunggu-konfirmasi{
    box-sizing: border-box;
    position: absolute;
    width: 326px;
    height: 46px;
    left: 25px;
    top: 573px;
    border: 1.4px solid #E0004D;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #E0004D;
    cursor: pointer;
  }
  
  .button-check-status-menunggu-konfirmasi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 40px;
    gap: 10px;
    position: absolute;
    width: 327px;
    height: 46px;
    left: 24px;
    top: 515px;
    background: #E0004D;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
  }


}
