.edit-foto-profile{
  width: 200px;
  height: 200px;
  margin-left: 35px;
  margin-top: 30px;
  background: #C4C4C4;
  border-radius: 50%;
}

.wrapper-ep {
  margin-top: 150px;
  margin-bottom: 60px;
}
.wrapper-ep:before,
.wrapper-ep:after{
  content: ' ';
  display: table;
  clear: both;
}

.container-ep{
  min-height: 100vh;
  min-width: 90vw;
  padding: 0px 50px 50px 50px;
}

.sidebar-ep{
  background: #FFFFFF;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}


.sidebar-ep-1{
  background: #FFFFFF;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.box-ep-1{
  display: flex;
}

.box-notifikasi-error{
  width: 300px;
  height: 50px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  left: 400px;
  top: 560px;
  color: #008076;
  display: flex;
  justify-content: center;
  align-items: center;
}

#choose-file-edit-profile{
  color: #FFFFFF;
  background: #213360;
  border: 1px solid #213360;
  cursor: pointer;
  padding: 6px 12px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  border-radius: 8px;
  margin-top: 30px;
  margin-left: 80px;
  
}

.keterangan-verifikasi{
  width: 229px;
  height: 24px;
  left: 440px;
  top: 170px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #008076;
}


#userImgEdit{
  width: 200px;
  height: 200px;
  left: 450px;
  border-radius: 50%;
  object-fit: cover;
}

.button-edit-foto{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 26px;
  left: 450px;
  top: 530px;
  background: #cfd4e1;
  border-radius: none;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #213360;
  cursor: pointer;
}

.button-edit-foto:hover{
  cursor: pointer;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 45, 0.08), 0px 4px 12px 4px rgba(155, 0, 28, 0.28);
}


#label-edit-profile{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.baris-edit-profile-1{
  width: 327px;
  height: 65px;
  display: flex;
  flex-direction: column;
}

.input-edit-profile-1{
  box-sizing: border-box;
  border: 1px solid #B4B9C7;
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #213360;
}

.baris-edit-profile-2{
  width: 327px;
  height: 65px;
}

.input-edit-profile-2{
  box-sizing: border-box;
  border: 1px solid #B4B9C7;
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #213360;
}


.baris-edit-profile-3{
  width: 327px;
  height: 65px;

}

.input-edit-profile-3{
  box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
  
}

.baris-edit-profile-4{
  width: 327px;
  height: 65px;
}


.input-edit-profile-4{
  box-sizing: border-box;
  border: 1px solid #B4B9C7;
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #213360;
}


.button-simpan-edit-profile{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
  width: 330px;
  height: 46px;
  left: 700px;
  top: 580px;
  background: #E0004D;
  border-radius: 8px;
  border: none;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;

}

.button-simpan-edit-profile:hover{
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 45, 0.08), 0px 4px 12px 4px rgba(155, 0, 28, 0.28);
}

.button-simpan-edit-profile:disabled{
  background: #B4B9C7;
  color: #FFFFFF;
}
.c1{
  display: flex;
}

.c2{
  display: flex;
}

@media only screen and (max-width: 850px) {

  .c1{
    display: flex;
  }
  
  .c2{
    display: flex;
  }
  
  .container-ep{
    min-height: 64.3vh;
    min-width: 90vw;
    padding: 0px 50px 50px 50px;
    border: 3px solid white
  }
  
  .sidebar-ep{
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-left: 50px;
  }
  
  
  .sidebar-ep-1{
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }

  .box-baris-ep{
    width: 300px;
    height: 300px;
    margin-left: -100px;
    margin-top: 20px;
  }

.box-ep-1{
  display: flex;
}

.box-ep-2{
  width: 300px;
  height: 300px;
  margin-left: -100px;
 
}

  .edit-foto-profile{
    width: 150px;
    height: 150px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 50px;
  }
  
  .box-notifikasi-error{

    width: 300px;
    height: 50px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #008076;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #choose-file-edit-profile{
    color: #FFFFFF;
    background: #213360;
    border: 1px solid #213360;
    cursor: pointer;
    padding: 6px 12px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    border-radius: 8px;
    margin-left: 40px;
  }
  
  .keterangan-verifikasi{

    width: 229px;
    height: 24px;
    left: 100px;
    top: 185px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #008076;
  }
  
  
  #userImgEdit{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .button-edit-foto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 26px;
    left: 100px;
    top: 530px;
    background: #cfd4e1;
    border-radius: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #213360;
    cursor: pointer;
  }
  
  .button-edit-foto:hover{
    cursor: pointer;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 45, 0.08), 0px 4px 12px 4px rgba(155, 0, 28, 0.28);
  }
  
  .baris-edit-profile-1{
    width: 250px;
    height: 65px;
  }
  
  .input-edit-profile-1{
    box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
  }
  
  .baris-edit-profile-2{
    width: 250px;
    height: 65px;
  }
  
  .input-edit-profile-2{
    box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
  }
  
  #label-edit-profile{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    bottom: 20px;
  }
  
  .baris-edit-profile-3{
    width: 250px;
    height: 65px;
  }
  
  .input-edit-profile-3{
    box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
  }
  
  .baris-edit-profile-4{

    width: 250px;
    height: 65px;
  
  }
  
  
  .input-edit-profile-4{
    box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
  }
  
  
  .button-simpan-edit-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 46px;
    background: #E0004D;
    border-radius: 8px;
    border: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
  
  }
  
  .button-simpan-edit-profile:hover{
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 45, 0.08), 0px 4px 12px 4px rgba(155, 0, 28, 0.28);
  }
  
  .button-simpan-edit-profile:disabled{
    background: #B4B9C7;
    color: #FFFFFF;
  }

}


@media only screen and (max-width: 500px) {

  .wrapper2 {
    margin-top: 0px;
    margin-bottom: 21px;
  }

  .container-ep{
    min-height: 90vh;
    min-width: 90vw;
    padding: 0px;
    border: 1px solid white;
  }
  
  .c1{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: -148px;
    margin-left: 0px;
  }
  
  .c2{
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .sidebar-ep{
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-left: 50px;
    margin-left: 0px;
  }
  
  
  .sidebar-ep-1{
   display: none;
  }

  .box-baris-ep{
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: 20px;
  }

  .box-ep-1{
    display: flex;
    flex-direction: column;
  }
  
  .box-ep-2{
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-top: -5px;
  }

  .edit-foto-profile{
    width: 130px;
    height: 130px;
    background: #C4C4C4;
    border-radius: 50%;
    margin-left: 100px;
  }

  .pinggiran-atas-profile{

    font-size: 12px;
    left: 25px;
    top: 45px;
  }

  .keterangan-verifikasi{
    width: 262px;
    height: 22px;
    left: 48px;
    top: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #009B90;
  
  }

  #userImgEdit{
    width: 136px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
  }

  .button-edit-foto{
    gap: 10px;
    left: 75px;
    top: 250px;
    width: 200px;
    height: 26px;
    background: #cfd4e1;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #213360;
    cursor: pointer;
  }

  .button-edit-foto:hover{
    cursor: pointer;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 45, 0.08), 0px 4px 12px 4px rgba(155, 0, 28, 0.28);
  }


  .baris-edit-profile-1{
    width: 300px;
    height: 67px;
  }

  #label-edit-profile{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }

  .input-edit-profile-1{
    box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
  }

  .baris-edit-profile-2{
    width: 300px;
    height: 67px;
  }

  .input-edit-profile-2{
    box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
  }

  .baris-edit-profile-3{
    width: 300px;
    height: 67px;
  }

  .input-edit-profile-3{
    box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
    
  }

  .baris-edit-profile-4{
    width: 300px;
    height: 67px;
  }

  #wanna-change-password{
    width: 221px;
    height: 53px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
    margin-left: 50px;
    margin-top: 15px;
  }


  .input-edit-profile-4{
    box-sizing: border-box;
    border: 1px solid #B4B9C7;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #213360;
  }


  .button-simpan-edit-profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 300px;
    height: 46px;
    background: #E0004D;
    border-radius: 8px;
    border: none;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -25px;
  }

  .button-simpan-edit-profile:hover{
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 45, 0.08), 0px 4px 12px 4px rgba(155, 0, 28, 0.28);

  }

  #choose-file-edit-profile{
    color: #FFFFFF;
    background: #213360;
    border: 1px solid #213360;
    cursor: pointer;
    padding: 6px 12px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    border-radius: 8px;
    margin-left: 120px;
    margin-top: 10px;
  }

  .box-notifikasi-error{

    color: #008076;
    width: 330px;
    height: 30px;
    top: 280px !important;
    left: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 17px;
    text-align: center;

  }
}