.image-register {
  padding-left: 0px !important;
}
.box-form-register {
  padding: 0px !important;
  background: linear-gradient(155.7deg, #f5ded6 -45.88%, #fcf7f9 45.77%, #fcf1f7 117.72%);
}
.form-register {
  padding: 30px 94px 20px 120px !important;
}

.login-other {
  font-size: 10px !important;
}
