.icon-email-resetpassword {
  background: white !important;
}
.form-resetpassword {
  padding: 150px 94px 20px 120px !important;
}

/* ipad AIR */
@media (max-width: 991.98px) {
  .image-register {
    display: none !important;
  }
  .form-resetpassword {
    padding: 402px 150px 500px 150px !important;
  }
}
/* ipad mini */
@media (max-width: 800px) {
  .image-register {
    display: none !important;
  }
  .form-resetpassword {
    padding: 350px 150px 396px 150px !important;
  }
}

/* iphone XR  */
@media (max-width: 576px) {
  .image-register {
    display: none !important;
  }
  .form-resetpassword {
    padding: 290px 40px 328px 40px !important;
  }
}
/* iphone 12 PRO  */
@media (max-width: 391px) {
  .image-register {
    display: none !important;
  }
  .form-resetpassword {
    padding: 270px 40px 296px 40px !important;
  }
}
/* iphone SE  */
@media (max-width: 376px) {
  .image-register {
    display: none !important;
  }
  .form-resetpassword {
    padding: 162px 40px 60vw 40px !important;
  }
}
