.container-login{
  min-width: 90vw;
  display: flex;
}

.box-image-login{
  height: 40vh;
  width: 20vw;
  object-fit: cover;
}


.image-login{
  height: 99vh;
  width: 45vw;
  object-fit: cover;
}

.form-login{
  height: 99vh;
  width: 45vw;
  margin-left: 400px;
}


.fc {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #1a1e2b;
}
.gb {
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  /* identical to box height, or 143% */

  text-align: center;
  color: rgb(17, 1, 1) !important;
  border: 2px solid #dc3545 !important;

  /* Neutral (Greys, Whtes & Blacks/Black */

  color: #1a1e2b;
}
.bpm {
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  /* identical to box height, or 143% */

  text-align: center;

  /* Neutral (Greys, Whtes & Blacks/Black */

  color: #1a1e2b;
}
