.container-newpassword {
  min-width: 100vw;
}
.icon-email-newpassword {
  background: white !important;
  color: black !important;
  border-color: #ced4da !important;
}
.form-newpassword {
  padding: 100px 94px 20px 120px !important;
}

@media (max-width: 991.98px) {
  .form-newpassword {
    padding: 50px 40px 770px 40px !important;
  }
}
