.container-newpassword {
  min-width: 100vw;
}
.icon-email-newpassword {
  background: white !important;
  color: black !important;
  border-color: #ced4da !important;
}
.form-newpassword {
  padding: 100px 94px 100px 140px !important;
}
