.container-newpassword {
  min-width: 100vw;
}
.icon-email-newpassword {
  background: white !important;
  color: black !important;
  border-color: #ced4da !important;
}
.form-newpassword {
  padding: 100px 94px 20px 120px !important;
}

/* ipad AIR */
@media (max-width: 991.98px) {
  .image-register {
    display: none !important;
  }
  .form-newpassword {
    padding: 340px 150px 484px 150px !important;
  }
}
/* ipad mini */
@media (max-width: 800px) {
  .image-register {
    display: none !important;
  }
  .form-newpassword {
    padding: 290px 150px 378px 150px !important;
  }
}

/* iphone XR  */
@media (max-width: 576px) {
  .image-register {
    display: none !important;
  }
  .form-newpassword {
    padding: 200px 40px 340px 40px !important;
  }
}
/* iphone 12 PRO  */
@media (max-width: 391px) {
  .image-register {
    display: none !important;
  }
  .form-newpassword {
    padding: 200px 40px 288px 40px !important;
  }
}
/* iphone SE  */
@media (max-width: 376px) {
  .image-register {
    display: none !important;
  }
  .form-newpassword {
    padding: 150px 40px 43vw 40px !important;
  }
}
