.button-tampilkan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
    height: 30px;
    background: #E0004D;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }

  .modal-container-payment {
    height: auto;
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 35px;
    padding-bottom: 45px;
}


  .button-tampilkan:hover{
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
    cursor: pointer;
  }

  .harga-obat-tampilkan{
    width: 130px;
    height: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #213360;
    margin-left: 10px;
  }

  .harga-obat-tampilkan-2{
    position: absolute;
    width: 130px;
    height: 30px;
    left: 360px;
    top: 90px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #213360;
    margin-left: 10px;
  }

  .nama-obat-tampilkan{
    width: 250px;
    height: 24px;
    left: 148px;
    top: -50px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .jumlah-obat-tampilkan{
    width: 150px;
    height: 18px;
    left: 148px;
    top: 0px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-top: 8px;
   
  }

  .foto-tampilkan{
    width: 91px;
    height: 66.23px;
    left: 40px;
    top: 20px;
  }


  .box-tampilkan-pesanan{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button-selesai-resep-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 130px;
    height: 30px;
    background: #E0004D;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 200px;
  }

  @media only screen and (max-width: 500px) {
    .button-tampilkan{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 130px;
      height: 30px;
      background: #E0004D;
      border-radius: 8px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
    }

    .modal-container-payment {
      height: auto;
      width: 300px;
      height: 300px;
      background-color: white;
      border-radius: 10px;
      position: relative;
      padding: 35px;
      padding-bottom: 45px;
  }
  
  
    .button-tampilkan:hover{
      box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
      cursor: pointer;
    }
  
    .harga-obat-tampilkan{
      width: 90.22px;
      height: 20px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: right;
      color: #213360;
    }
  
    .nama-obat-tampilkan{
      width: 250px;
      height: 24px;
      left: 148px;
      top: -50px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #213360;
      border: 1px solid blue;
    }
  
    .jumlah-obat-tampilkan{
      width: 150px;
      height: 18px;
      left: 148px;
      top: -70px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      color: #213360;
    }
  
    .foto-tampilkan{
      width: 91px;
      height: 66.23px;
      left: 40px;
      top: 20px;
    }
  
  
    .box-tampilkan-pesanan{
      width: 180px;
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 80px
    }
  }