.Footer {
  width: 98.5vw !important;
  margin-bottom: 0px !important;
}

.box-footer-user{
  padding: 40px 50px;
  display: flex;
  
}

.box-1-inside-footer-user{
  width: 318px;
  height: 251px;
}

.footer-logo{
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 23.6923px !important;
  line-height: 28px !important;
  letter-spacing: -0.04em !important;
  color: #213360 !important;
  margin-top: 5px;
}

.judul-kontak{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #213360;
}

.isi-kontak{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #213360;
}

.box-2-inside-footer-user{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 195px;
  height: 240px;
  margin-left: 50px;

}

.listF {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 20px !important;
  color: #213360 !important;
}

.box-3-inside-footer-user{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 195px;
  height: 186px;
  left: 740px;
  top: 50px;
  margin-left: 50px;

}

.box-4-inside-footer-user{
  width: 195px;
  height: 164px;
  left: 1020px;
  top: 50px;
  margin-left: 50px;
}

.ikuti-kami{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #213360;
}

.judul-medsos{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #213360;
}


.box-5-inside-footer-user{
  
  height: 95px;
  background: #4F618E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.design-footer{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F5F6F9;
}