.box-sidebar-admin{
    position: absolute;
    width: 256px;
    height: 1020px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 8px 0px 12px rgba(190, 190, 190, 0.08), 6px 0px 20px rgba(190, 190, 190, 0.1);
}

.logo-navbar-admin-box{
    position: absolute;
    width: 256px;
    height: 64px;
    left: 0px;
    top: 0px;
  }

  .logo-navbar-admin-inside-box{
    position: absolute;
    left: 0px;
    right: 10.16%;
    top: 12.5%;
    bottom: 20.31%;
  }

  .gambar-logo-navbar-admin{
    width: 28px;
    height: 28px;
    left: 0px;
  }

  .nama-logo-navbar-admin{
    position: absolute;
    left: 60px;
    right: -9.78%;
    top: 8px;
    bottom: 14.93%;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 23.6923px;
    line-height: 28px;
    color: #213360;
  }


.box-dashboard-sidebar-admin{
    position: absolute;
    width: 256px;
    height: 80px;
    left: 0px;
    top: 64px;
}

.inside-box-dashboard-sidebar-admin{
    position: absolute;
    width: 105px;
    height: 24px;
    left: 16px;
    top: 30px;
    cursor: pointer;
}

.inside-box-dashboard-sidebar-admin:hover{
    cursor: pointer;
    color: #E0004D;
}

.logo-home-sidebar-admin{
    position: absolute;
    left: 0%;
    right: 77.14%;
    top: 0%;
    bottom: 0%;
}

.tulisan-sidebar-admin-1{
    position: absolute;
    left: 30.48%;
    right: 0%;
    top: 8.33%;
    bottom: 8.33%;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}


.box-produk-sidebar-admin{
    position: absolute;
    width: 256px;
    height: 80px;
    left: 0px;
    top: 144px;    
}

.inside-box-produk-sidebar-admin{
    position: absolute;
    width: 80px;
    height: 24px;
    left: 16px;
    top: 30px;
    cursor: pointer;
}

.inside-box-produk-sidebar-admin:hover{
    cursor: pointer;
    color: #E0004D;
}


.logo-produk-sidebar-admin{
    position: absolute;
    left: 0%;
    right: 70%;
    top: 0%;
    bottom: 0%;    
}

.tulisan-sidebar-admin-2{
    position: absolute;
    left: 40%;
    right: 0%;
    top: 8.33%;
    bottom: 8.33%;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.logo-bawah-admin{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 220px;
    top: 30px;
    cursor: pointer;
}


.box-transaksi-sidebar-admin{
    position: absolute;
    width: 256px;
    height: 80px;
    left: 0px;
    top: 224px;
}

.inside-box-transaksi-sidebar-admin{
    position: absolute;
    width: 97px;
    height: 24px;
    left: 16px;
    top: 30px;
    cursor: pointer;
}

.inside-box-transaksi-sidebar-admin:hover{
    cursor: pointer;
    color: #E0004D;
}


.logo-transaksi-sidebar-admin{
    position: absolute;
    left: 0%;
    right: 75.26%;
    top: 0%;
    bottom: 0%;
}

.tulisan-sidebar-admin-3{
    position: absolute;
    left: 32.99%;
    right: 0%;
    top: 8.33%;
    bottom: 8.33%;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.box-revenue-sidebar-admin{
    position: absolute;
    width: 256px;
    height: 80px;
    left: 0px;
    top: 304px;    
}

.inside-box-revenue-sidebar-admin{
    position: absolute;
    width: 140px;
    height: 20px;
    left: 16px;
    top: 30px;
    cursor: pointer;

}

.inside-box-revenue-sidebar-admin:hover{
    cursor: pointer;
    color: #E0004D;
}


.logo-revenue-sidebar-admin{
    position: absolute;
    left: 0%;
    right: 87.14%;
    top: 3.88%;
    bottom: 13.89%;
}

.tulisan-sidebar-admin-4{
    position: absolute;
    left: 22.86%;
    right: -2.14%;
    top: 0%;
    bottom: 0%;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}