
.product-card-small {
    height: 350px;
    width: 200px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 30px;
}

.product-card-small:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
}

.circle {
    border-radius: 50%;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform .2s;
}

.circle:hover {
    transform: scale(1.2)
}

.product-card-heart {
    font-size: 30px;
    color: #B4B9C7;
    margin-top: 5px;
}

.product-image {
    width: 100%;
}

.product-card-detail {
    max-height: 109px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-name-small {
    font-size: 12px;
    font-weight: 700;
    color: #213360;
    margin: 0px;
}

.nominal-diskon-produk{
    width: 36px;
    height: 20px;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #FF6B6B;
    color: #FF6B6B;
    border-radius: 5px;
    margin-right: 10px;
  }

  .harga-diskon-produk{
    font-weight: 400;
    font-size: 11px;
    color: #B4B9C7;
    text-decoration-line: line-through;
    margin: 0px;
  }

.product-price-small {
    font-size: 14px;
    font-weight: 700;
    color: #213360;
    margin-right: 5px;
}

.product-unit-small {
    font-size: 14px;
    color: #213360;
}

.keranjang {
    background-color: white;
    border: 3px solid #E0004D;
    padding: 7px 30px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 800;
    width: 100%;
    color: #E0004D;
    align-self: center;
    cursor: pointer;
}

.keranjang:hover {
    background-color: #ffe9f1;
}

.butuh-resep {
    background-color: white;
    padding: 7px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: 800;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E0004D;
    align-self: center;
}

@media only screen and (max-width: 500px) {
    .product-card-small {
        height: 70vw;
        width: 38vw;
        border-radius: 3.8vw;
    }
    .circle {
        border-radius: 50%;
        top: 3.8vw;
        right: 3.8vw;
        height: 9.5vw;
        width: 9.5vw;
    }
    
    .product-card-heart {
        font-size: 5.7vw;
        color: #B4B9C7;
        margin-top: 0.95vw;
    }
    
    .product-name-small {
        font-size: 2.28vw;
        font-weight: 700;
        color: #213360;
        margin: 0px;
    }

    .product-price-small, .product-unit-small  {
        font-size: 2.66vw;
        margin-right: 0.95vw;
    }
    
    .keranjang {
        border: 2px solid #E0004D;
        margin-top: 0px;
        border-radius: 1.9vw;
        font-size: 2.28vw;
        padding: 1.33vw 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .butuh-resep {
        margin-top: 2.85vw;
        border-radius: 1.9vw;
        font-size: 2.28vw;
        padding: 1.33vw 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .product-card-detail {
        height: 20.9vw;
    }
    
    .butuh-resep {
        margin: 0px;
    }
}