.container-uploadResep {
  padding: 150px 100px 100px 150px !important;
}

.box-upload {
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
}

#box-dropzone {
  background: #f6fafb;
  border-radius: 8px;
  border: 2px dashed black;
  text-align: center;
  padding: 100px 0px;
}

.loader {
  text-align: center;
  padding: 200px 0px;
  align-items: center;
}

/* ipad AIR */
@media (max-width: 991.98px) {
  .container-uploadResep {
    padding: 130px 50px 10px 50px !important;
  }

  .box-upload {
    height: auto;
    border-radius: 0px;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  }
  .none {
    display: none;
  }

  #box-dropzone {
    background: #f6fafb;
    border-radius: 8px;
    border: 2px dashed black;
    text-align: center;
    padding: 150px 10px 150px 10px !important;
  }
}
/* ipad mini */
@media (max-width: 800px) {
  .container-uploadResep {
    padding: 100px 50px 0px 50px !important;
  }

  .box-upload {
    height: auto;
    border-radius: 0px;
    box-shadow: none;
  }
  .none {
    display: none;
  }

  #box-dropzone {
    background: #f6fafb;
    border-radius: 8px;
    border: 2px dashed black;
    text-align: center;
    padding: 120px 50px 100px 50px !important;
  }
}

/* iphone XR  */
@media (max-width: 576px) {
  .container-uploadResep {
    padding: 100px 10px 0px 10px !important;
  }

  .box-upload {
    height: auto;
    border-radius: 0px;
    box-shadow: none;
  }
  .none {
    display: none;
  }

  #box-dropzone {
    background: #f6fafb;
    border-radius: 8px;
    border: 2px dashed black;
    text-align: center;
    padding: 150px 10px 150px 10px !important;
  }
}
/* iphone 12 PRO  */
@media (max-width: 391px) {
  .container-uploadResep {
    padding: 80px 10px 0px 10px !important;
  }
  .box-upload {
    height: auto;
    border-radius: 0px;
    box-shadow: none;
  }
  .none {
    display: none;
  }

  #box-dropzone {
    background: #f6fafb;
    border-radius: 8px;
    border: 2px dashed black;
    text-align: center;
    padding: 150px 10px 150px 10px !important;
  }
}
/* iphone SE  */
@media (max-width: 376px) {
  .container-uploadResep {
    padding: 30px 10px 0px 10px !important;
  }

  .box-upload {
    height: auto;
    border-radius: 0px;
    box-shadow: none;
  }
  .none {
    display: none;
  }

  #box-dropzone {
    background: #f6fafb;
    border-radius: 8px;
    border: 2px dashed black;
    text-align: center;
    padding: 100px 10px 100px 10px !important;
  }
}
