#container-tp {
  min-height: 105vh;
  min-width: 90vw;
  padding: 50px 150px 50px 150px;
}

.box-profile{
  margin-top: 96px;
  width: 800px;
  height: 530px;
  margin-left: 180px;
  background: #FFFFFF;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  border-radius: 8px;
}

.tab-versi-dekstop{
  position: absolute;
  width: 770px;
  height: 60px;
  top: 220px;
  left: 420px;
}

.tab-profile{
  position: absolute;
  width: 80px;
  height: 36px;
  left: 0px;
  top: 0px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #213360;
  cursor: pointer;
}

.tab-profile:hover{
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #E0004D;
  color:#E0004D
}

.tab-edit-profile{
  position: absolute;
  width: 100px;
  height: 36px;
  left: 160px;
  top: 0px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #213360;
}

.tab-edit-profile:hover{
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #E0004D;
  color:#E0004D
}

.tab-change-password{
  position: absolute;
  width: 150px;
  height: 36px;
  left: 310px;
  top: 0px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #213360;
}

.garis-batas-tab-profile{
  position: absolute;
  width: 740px;
  height: 0px;
  left: 0px;
  top: 35px;
  border: 1.5px solid #F5F6F9;
}

.tab-change-password:hover{
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #E0004D;
  color:#E0004D
}

@media only screen and (max-width: 850px) {
  #container-tp {
    min-height: 64.3vh;
    min-width: 50vw;
    padding: 50px 150px 50px 150px;

  }


  .box-profile{
    position: absolute;
    width: 700px;
    height: 530px;
    left: -110px;
    top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    border-radius: 8px;
   
  }

  
.tab-versi-dekstop{
  position: absolute;
  width: 300px;
  height: 60px;
  top: -30px;
  left: 10px;
}

.tab-versi-dekstop-2{
  position: absolute;
  width: 300px;
  height: 60px;
  top: -50px;
  left: 10px;
}
  
  .tab-profile{
    position: absolute;
    width: 80px;
    height: 36px;
    left: 40px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
    cursor: pointer;
   
  }
  
  .tab-profile:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }
  
  .tab-edit-profile{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 160px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
  }
  
  .tab-edit-profile:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }
  
  .tab-change-password{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 310px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
  }

  .tab-change-password-1{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 10px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
  }

  .tab-change-password-2{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 110px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
  }

  .tab-change-password-3{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 250px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
  }

  .tab-change-password-4{
    position: absolute;
    width: 100px;
    height: 36px;
    left: 380px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
  }

  .tab-change-password-5{
    position: absolute;
    width: 150px;
    height: 36px;
    left: 450px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
  }

  .tab-change-password-6{
    position: absolute;
    width: 80px;
    height: 36px;
    left: 580px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
  }
  
  .garis-batas-tab-profile{
    position: absolute;
    width: 400px;
    height: 0px;
    left: 40px;
    top: 116px;
    border: 1.5px solid #F5F6F9;
  }

  .garis-batas-tab-profile-2{
    position: absolute;
    width: 650px;
    height: 0px;
    left: 20px;
    top: 130px;
    border: 1.5px solid #F5F6F9;
  }
  
  .tab-change-password:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }

  .tab-change-password-1:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }

    .tab-change-password-2:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }

  .tab-change-password-3:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }

    .tab-change-password-4:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }

  .tab-change-password-5:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }

  .tab-change-password-6:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }
  
  }
  
  
  @media only screen and (max-width: 500px) {
    #container-tp {
      min-height: 91vh;
      min-width: 50vw;
      padding: 50px 150px 50px 150px;
      border: 1px solid blue
    }

    .box-profile{
      display: none;
    }
  
    .tab-versi-dekstop{
      display: none;
    }
    
  }