.wrapper {
  margin-top: 150px;
  margin-bottom: 60px;
}
.wrapper:before,
.wrapper:after{
  content: ' ';
  display: table;
  clear: both;
}

.container-tp{
  min-height: 100vh;
  min-width: 90vw;
  padding: 0px 50px 50px 50px;
}

.sidebar-new{
  background: #FFFFFF;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}


.sidebar-new-1{
  background: #FFFFFF;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.keterangan-verifikasi-desk{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #008076;
}

.sidebar-box-1{
  margin-left: 50px;
  cursor: pointer;
  color: #213360;
}

.sidebar-box-1:hover{
  color:#E0004D;
  cursor: pointer;
}

.sidebar-pp-box{
  width: 40px;
  height: 40px;
  background: #C4C4C4;
  border-radius: 50%;
}

#userImgSide{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-name-box{
  width: 170px;
  height: 20px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.tab-profile{
  width: 120px;
  height:30px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #213360;
  cursor: pointer;
}

.tab-profile:hover{
  text-decoration: none;
  cursor: pointer;
  border-bottom: 2px solid #E0004D;
  color:#E0004D
}

@media only screen and (max-width: 850px) {
  .container-tp{
  min-height: 65vh;
  min-width: 90vw;
  padding: 0px 50px 50px 50px;
  border: 1px solid white;

}
  
.sidebar-new-1{
  background: #FFFFFF;
  box-shadow: none;
  border-radius: 8px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-left: -30px;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
}
  .sidebar-new{
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px;
  }
  
  .keterangan-verifikasi-desk{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #008076;
  }
  
  .sidebar-box-1{
    margin-left: 50px;
    cursor: pointer;
    color: #213360;
  }
  
  .sidebar-box-1:hover{
    color:#E0004D;
    cursor: pointer;
  }
  
  .sidebar-pp-box{
    display: none;
  }
  
  #userImgSide{
    display: none;
  }
  
  .sidebar-name-box{
   display: none;
  }
  
  .tab-profile{
    width: 150px;
    height:30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #213360;
    cursor: pointer;
  }
  
  .tab-profile:hover{
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid #E0004D;
    color:#E0004D
  }
}

@media only screen and (max-width: 500px) {
  .container-tp{
  min-height: 90vh;
  min-width: 90vw;
  padding: 0px 50px 50px 50px;
  border: 1px solid white
}

}