#navbar {
  min-height: 92px;
  min-width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  z-index: 999;
  display: flex !important;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 41, 0.02), 0px 4px 12px 4px rgba(155, 0, 93, 0.08);
}

.navbar-brand {
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 23.6923px !important;
  line-height: 28px !important;
  letter-spacing: -0.04em !important;
  color: #213360 !important;
  margin-top: 5px;
}

.box-navbar-logo{
  width: 200px;
  height: 50px;
  margin-top: 25px;
  margin-left: 30px;
}

.search-navbar {
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.box-navbar-search{
  width: 680px;
  height: 40px;
  margin-top: 28px;
  margin-left: 30px;
}

.input-home {
  width: 680px;
  height: 35px;
  font-family: 'Public Sans', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center !important;
  display: inline-block !important;
  color: #CCCCCC !important;
  cursor: text;
}

.logo-input-home{
  position: absolute;
  left: 905px !important;
  top: 37px !important;
  color: #CCCCCC !important;
  cursor: pointer;
}

.box-navbar-button{
  width: 260px;
  height: 50px;
  margin-top: 25px;
  margin-left: 35px;
  display: flex;
  justify-content: space-between;
}

.btn-masuk-home {
  width: 118px !important;
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 17px !important;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #E0004D;
  background: #fff;
  color: #E0004D
}

.btn-daftar-home {
  width: 118px !important;
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 17px !important;
  color: #ffffff !important;
  height: 44px !important;
  border-radius: 8px !important;
  background: #E0004D;
  border: 1px solid #fff;
}

.box-navbar-dropdown{
  width: 280px;
  height: 40px;
  margin-top: 25px;
  margin-left: 35px;
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Public Sans', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 16px !important;
  color: #E0004D;
}

#dropdown-navbar{
  display: flex;
  text-decoration: none;
  border: none;
  background: transparent;
  color: #E0004D;
  width: 150px;
  height: 30px;
  border-radius: none;
  justify-content: center;
  align-items: center;
}

.box-navbar-search-2{
  width: 680px;
  height: 40px;
  margin-top: 28px;
  margin-left: 30px; 
}


.input-home-2 {
  width: 680px;
  height: 35px;
  font-family: 'Public Sans', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px ;
  line-height: 16px ;
  display: flex !important;
  align-items: center !important;
  display: inline-block !important;
  color: #CCCCCC !important;
  cursor: text;
}

.logo-input-home-2{
  position: absolute;
  left: 905px !important;
  top: 37px !important;
  color: #CCCCCC !important;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  #navbar {
    min-height: 92px;
    min-width: 70vw !important;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    z-index: 999;
    display: flex !important;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 41, 0.02), 0px 4px 12px 4px rgba(155, 0, 93, 0.08);
  }
  
  .navbar-brand {
    font-family: 'Public Sans';
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 23px !important;
    line-height: 28px !important;
    letter-spacing: -0.04em !important;
    color: #213360 !important;
    margin-top: 5px;
  }
  
  .box-navbar-logo{
    width: 200px;
    height: 50px;
    margin-top: 25px;
    margin-left: 30px;
  }
  
  .search-navbar {
    font-family: 'Public Sans';
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
  }
  
  .box-navbar-search{
    width: 300px !important;
    height: 40px;
    margin-top: 28px;
    margin-left: 30px;
  }
  
  .input-home {
    width: 300px !important;
    height: 35px;
    font-family: 'Public Sans', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 16px !important;
    display: flex !important;
    align-items: center !important;
    display: inline-block !important;
    color: #CCCCCC !important;
    cursor: text;
  }
  
  .logo-input-home{
    position: absolute;
    left: 100px !important;
    top: 37px !important;
    color: #CCCCCC !important;
    cursor: pointer;
  }
  
  .box-navbar-button{
    width: 260px;
    height: 50px;
    margin-top: 25px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
  }
  
  .btn-masuk-home {
    width: 118px !important;
    font-family: 'Public Sans';
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 17px !important;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #E0004D;
    background: #fff;
    color: #E0004D
  }
  
  .btn-daftar-home {
    width: 118px !important;
    font-family: 'Public Sans';
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 17px !important;
    color: #ffffff !important;
    height: 44px !important;
    border-radius: 8px !important;
    background: #E0004D;
    border: 1px solid #fff;
  }
  
  .box-navbar-dropdown{
    width: 245px;
    height: 40px;
    margin-top: 25px;
    margin-left: 35px;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Public Sans', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #E0004D;
  }
  
  #dropdown-navbar{
    display: flex;
    text-decoration: none;
    border: none;
    background: transparent;
    color: #E0004D;
    width: 150px;
    height: 30px;
    border-radius: none;
    justify-content: center;
    align-items: center;
  }
  
  .box-navbar-search-2{
    width: 300px !important;
    height: 40px;
    margin-top: 28px;
    margin-left: 20px; 
  }
  
  
  .input-home-2 {
    width: 300px !important;
    height: 35px;
    font-family: 'Public Sans', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 5px !important;
    display: flex !important;
    align-items: center !important;
    display: inline-block !important;
    color: #CCCCCC !important;
    cursor: text;
  }
  
  .logo-input-home-2{
    position: absolute;
    left: 525px !important;
    top: 37px !important;
    color: #213360 !important;
    cursor: pointer;
  }
}

@media only screen and (max-width: 500px) {
  #navbar {
    min-height: 0px;
    min-width: 0vw;
    position: relative;
    top: 0px;
    left: 0px;
    background: transparent;
    z-index: 0;
    display: flex;
    box-shadow: none;
    border: none;
  }
  
  .navbar-brand {
    display: none;
  }
  
  .box-navbar-logo{
    display: none;
  }
  
  .search-navbar {
    display: none;
  }
  
  .box-navbar-search{
    display: none;
  }
  
  .input-home {
    display: none;
  }
  
  .logo-input-home{
    display: none;
  }
  
  .box-navbar-button{
    display: none;
  }
  
  .btn-masuk-home {
    display: none;
  }
  
  .btn-daftar-home {
    display: none;
  }
  
  .box-navbar-dropdown{
    display: none;
  }
  
  #dropdown-navbar{
    display: none;
  }
  
  .box-navbar-search-2{
    display: none;
  }
  
  
  .input-home-2 {
    display: none;
  }
  
  .logo-input-home-2{
    display: none;
  }
}