#navbar {
}
.navbar-apotakecare {
  align-items: center !important;
  min-width: 100vw;
  height: 92px;
  background: #ffffff;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(203, 35, 6, 0.08);
}
.navbar-brand {
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 23.6923px !important;
  line-height: 28px !important;
  letter-spacing: -0.04em !important;
  color: #213360 !important;
}

.search {
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
}

.btn-masuk {
  width: 118px !important;
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 17px !important;
  height: 44px;
  border-radius: 8px;
}
.btn-daftar {
  width: 118px !important;
  font-family: 'Public Sans';
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 17px !important;
  color: #ffffff !important;
  height: 44px !important;
  border-radius: 8px !important;
}
