#container-home {
  min-height: calc(100vh - 92px);
  min-width: 98vw;
  padding: 50px 150px 20px 100px;
}
#container-jumbotron-payment {
  height: 150px;
  width: 100vw;
  margin-left: -100px;
  padding-top: 30px;
  text-align: center;
  align-items: center;
  background: #f6fafb;
}

.logo-home {
  width: 40px;
  height: 40px;
}

/* .gradient{
  position: absolute;
  width: 50vw;
  height: 500px;
  left: 640px;
  top: -190px;
  background: radial-gradient(50% 50% at 50% 50%, rgba(155, 0, 47, 0.1) 0%, rgba(205, 33, 56, 0) 100%);
} */

.inside-container-home {
  width: 80vw;
  height: 232px;
  left: 98px;
  top: 136px;
  margin-top: 160px;
  background: #92c3d1;
  border-radius: 16px;
}

.box-jumbotron1 {
  width: 247px;
  height: 232px;
  margin-left: 776px;
  margin-top: -73px;
  background: linear-gradient(15.03deg, #2a426f 16.41%, #355182 95.92%);
  border-radius: 16px;
}

.head-image {
  position: relative;
  width: 990px;
  height: 232px;
  top: -231px;
  left: 0px;
}

.jumbotron1 {
  width: 648px;
  height: 230px;
  margin-left: 410px;
  margin-top: 0px;
  border-radius: 16px !important;
}

.apotake-terpercaya {
  position: absolute;
  width: 800px !important;
  height: 42px;
  left: 30px;
  top: 80px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #6472a8 0%, #000c36 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.selamat-datang-home {
  position: absolute;
  width: 179px;
  height: 24px;
  left: 30px;
  top: 30px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #213360;
}

.box-apotakecare {
  position: absolute;
  width: 300px;
  height: 42px;
  left: 190px;
  top: 20px;
}

.tulisan-apotakecare {
  position: absolute;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 26.2334px;
  line-height: 31px;
  color: #213360;
  left: 70px;
  top: 5px;
}

.keterangan-persen-asli {
  position: absolute;
  width: 403px;
  height: 21px;
  left: 30px;
  top: 160px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #213360;
}

.inside-container-home-2 {
  width: 80vw;
  height: 168px;
  margin-left: 0px;
  margin-top: 50px;
  background: #ffffff;
  box-shadow: -1px -1px 5px 4px rgba(54, 0, 7, 0.01), 2px 2px 2px rgba(96, 33, 62, 0.04), 4px 4px 4px 6px rgba(155, 0, 121, 0.04);
  border-radius: 16px;
  display: flex;
}

.jumbotron2 {
  width: 511px;
  height: 168px;
  object-fit: cover;
}

.box-unggah-resep {
  width: 352px;
  height: 168px;
  margin-left: -20px;
}

.box-unggah-resep-2 {
  width: 600px;
  height: 50px;
  margin-left: 200px;
  margin-top: 20px;
}

.tulisan-perlu-resep {
  margin-top: 35px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #213360;
}

.keterangan-verify{
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  margin-right: 30px;
  margin-top: 5px;
  width: 300px;
}

.btn-unggah-resep {
  position: absolute;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding: 0px;
  gap: 10px;
  width: 140px;
  height: 48px;
  background: #e0004d;
  border: 1px solid #e0004d;
  border-radius: 8px;
  margin-top: -60px;
  margin-left: 360px;
}

.tulisan-tak-antre {
  width: 352px;
  margin-top: 10px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #525252;
}

.inside-container-home-3 {
  width: 80vw;
  height: 200px;
  margin-top: 30px;
}

.home-kategori {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #213360;
}

.box-home-kategori {
  width: 80vw;
  height: 130px;
  margin-top: 30px;
}

.box-home-kategori-2 {
  display: flex;
}

.product-card-home {
  width: 150px;
  height: 119px;
  border-radius: 20px;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.product-card-home:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
}

.product-card-home-2 {
  width: 194px;
  height: 331px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 20px;
  left: 0px;
  top: 35px;
}

.product-card-home-2:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
}

/* .box-isi-card-home{
  position: absolute;
  width: 70vw;
  height: 400px;
  display: flex;
  left: 350px;
} */

.Obat-obatan {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #213360;
}

.obat1 {
  width: 64px;
  height: 64px;
}

.inside-container-home-4 {
  width: 80vw;
  height: 450px;
  margin-top: 30px;
}

.kejar-diskon {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #213360;
}

.box-buruan-ikut {
  position: absolute;
  width: 301px;
  height: 395px;
  background: linear-gradient(150.85deg, #b0e7e8 -3.37%, #7fb4c4 103.24%);
  border-radius: 16px;
  margin-top: 20px;
}

.kranjang {
  position: absolute;
  width: 123px;
  height: 145px;
  left: 50px;
  top: 100px;
}

.manusia1 {
  position: absolute;
  width: 231px;
  height: 206px;
  left: 0px;
  top: 190px;
}

.yuk-buruan-ikut {
  padding-top: 50px;
  margin-left: 40px;
  width: 159px;
  height: 48px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2b478b;
}

.inside-container-home-5 {
  width: 80vw;
  height: 250px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  
}

.box-1-jumbotron {
  width: 39vw;
  height: 212px;
  background: #ffb156;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 41, 0.02), 0px 4px 12px 4px rgba(155, 0, 93, 0.08);
  border-radius: 16px;
  display: flex;
}

.box-2-jumbotron {
  width: 39vw;
  height: 212px;
  background: #92c3d1;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 41, 0.02), 0px 4px 12px 4px rgba(155, 0, 93, 0.08);
  border-radius: 16px;
  display: flex;
}

.hamil {
 
  width: 338px;
  height: 212px;
  
}

.framebg {
  position: relative;
  width: 348px;
  height: 212px;
  left: -270px;
  top: 0px;
}

.friend {
  width: 294px;
  height: 249px;
  margin-top: -20px;
}

.program-hamil {
  margin-left: -10px;
  margin-top: 60px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #213360;
}

.wujudkan-rumah {
  margin-left: -50px;
  margin-top: 5px;
  width: 230px;
  height: 48px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #213360;
}

.kebutuhan {
  margin-left: -300px;
  margin-top: 60px;
  width: 201px;
  height: 56px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #213360;
}

.lengkapi-kebutuhan {
  margin-left: -300px;
  margin-top: 5px;
  width: 200px;
  height: 48px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #213360;
}

.inside-container-home-6 {
  width: 80vw;
  height: 430px;
  margin-top: 30px;
}

.box-3-jumbotron {
  width: 80vw;
  height: 340px;
  display: flex;
  margin-top: 30px;
}

.box-tulisan-6-2 {
  width: 80vw;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.tulisan-6-1 {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #213360;
}

.tulisan-6-2 {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #e0004d;
  margin-top: 5px;
}

.inside-container-home-7 {
  width: 80vw;
  height: 300px;
  margin-top: 30px;
}

.jaminan {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #213360;
  margin-top: 10px;
}

.container-box-7 {
  width: 80vw;
  height: 200px;
  margin-top: 30px;
  display: flex;
}

.product-card-home-3 {
  width: 405px;
  height: 181px;
  border-radius: 20px;
  background: #f6fafb;
  box-shadow: -1px -1px 5px 4px rgba(54, 0, 25, 0.01), 2px 2px 2px rgba(96, 33, 51, 0.04), 4px 4px 4px 6px rgba(155, 0, 90, 0.04);
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.product-card-home-3:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
}

.obats {
  width: 64px;
  height: 64px;
}

.hemat {
  width: 64px;
  height: 64px;
}

.kirim {
  width: 70px;
  height: 70px;
}

.tulisan-7 {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #213360;
  margin-left: 10px;
}

.tulisan-7-2 {
  width: 203px;
  height: 60px;
  margin-left: 10px;
  margin-top: 5px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #213360;
}

.product-card-home-4 {
  width: 194px;
  height: 331px;
  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  left: 0px;
}

.product-card-home-4:hover {
  transform: translate(0, -10px);
  box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
}

.circle-home {
  border-radius: 50%;
  box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
  position: absolute;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s;
}

.circle-home:hover {
  transform: scale(1.2);
}

.product-image-home {
  width: 80%;
  margin-bottom: 0px;
  margin-left: 20px;
}

.product-name-home {
  font-size: 14px;
  font-weight: 700;
  color: #213360;
  margin-left: 20px;
  width: 130px;
}

.product-price-home {
  font-size: 16px;
  font-weight: 700;
  color: #213360;
  margin-right: 5px;
  margin-left: 20px;
}

.product-unit-home {
  font-size: 16px;
  color: #213360;
}

.keranjang-home {
  background-color: white;
  border: 3px solid #e0004d;
  /* padding: 7px 10px; */
  margin-top: 8px;
  width: 150px !important;
  height: 30px !important;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 800;
  width: 100%;
  color: #e0004d;
  align-self: center;
  cursor: pointer;
}

.keranjang-home:hover {
  background-color: #ffe9f1;
}

.box-diskon-produk {
  width: 150px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.nominal-diskon {
  width: 36px;
  height: 24px;
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid #ff6b6b;
  color: #ff6b6b;
  border-radius: 6px;
}

.harga-diskon-home {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #b4b9c7;
  text-decoration-line: line-through;
}

.box-isi-card-home {
  position: relative;
  display: flex;
  left: 200px;
  height: 400px;
  width: 60vw;
  padding: 0px 0px 0px 0px;
}

.box-isi-card-home-2 {
  display: flex;
  padding: 0px;
  gap: 20px;
  width: 60vw;
  height: 400px;
  overflow-x: none;
}

.box-3-jumbotron {
  position: relative;
  display: flex;
  left: 0px;
  height: 400px;
  width: 80vw;
  padding: 0px 0px 0px 0px;
}

.box-3-jumbotron-2 {
  display: flex;
  padding: 0px;
  gap: 10px;
  width: 80vw;
  height: 400px;
  overflow-x: none;
}

@media only screen and (max-width: 850px) {
  #container-home {
    height: auto;
    width: 100vw;
    padding: 50px 150px 10px 20px;
  }
  #container-jumbotron-payment {
    padding: 30px 0px 0px 0px;
    height: 150px;
    width: 100vw;
    text-align: center;
    align-items: center;
    background: #f6fafb;
    margin-left: -20px;
    margin-top: -130px;
  }

  .logo-home {
    width: 40px;
    height: 40px;
  }

  /* .gradient{
    position: absolute;
    width: 50vw;
    height: 500px;
    left: 640px;
    top: -190px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(155, 0, 47, 0.1) 0%, rgba(205, 33, 56, 0) 100%);
  } */

  .inside-container-home {
    width: 80vw;
    height: 232px;
    left: 98px;
    top: 136px;
    margin-top: 160px;
    background: #92c3d1;
    border-radius: 16px;
  }

  .box-jumbotron1 {
    width: 247px;
    height: 232px;
    margin-left: 500px;
    margin-top: -73px;
    background: linear-gradient(15.03deg, #2a426f 16.41%, #355182 95.92%);
    border-radius: 16px;
  }

  .head-image {
    position: relative;
    width: 80vw;
    height: 232px;
    top: -231px;
    left: 0px;
  }

  .jumbotron1 {
    width: 648px;
    height: 230px;
    margin-left: 80px;
    margin-top: 0px;
    border-radius: 16px !important;
  }

  .apotake-terpercaya {
    position: absolute;
    width: 800px !important;
    height: 42px;
    left: 30px;
    top: 80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #6472a8 0%, #000c36 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .selamat-datang-home {
    position: absolute;
    width: 179px;
    height: 24px;
    left: 30px;
    top: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .box-apotakecare {
    position: absolute;
    width: 300px;
    height: 42px;
    left: 190px;
    top: 20px;
  }

  .tulisan-apotakecare {
    position: absolute;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26.2334px;
    line-height: 31px;
    color: #213360;
    left: 70px;
    top: 5px;
  }

  .keterangan-persen-asli {
    position: absolute;
    width: 403px;
    height: 21px;
    left: 30px;
    top: 160px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .inside-container-home-2 {
    width: 90vw;
    height: 168px;
    margin-left: 0px;
    margin-top: 50px;
    background: #ffffff;
    box-shadow: -1px -1px 5px 4px rgba(54, 0, 7, 0.01), 2px 2px 2px rgba(96, 33, 62, 0.04), 4px 4px 4px 6px rgba(155, 0, 121, 0.04);
    border-radius: 16px;
    display: flex;
  }

  .jumbotron2 {
    width: 511px;
    height: 168px;
    object-fit: cover;
  }

  .box-unggah-resep {
    width: 352px;
    height: 168px;
    margin-left: -20px;
  }

  .tulisan-perlu-resep {
    margin-top: 20px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .btn-unggah-resep {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    padding: 0px;
    gap: 10px;
    width: 100px;
    height: 45px;
    background: #e0004d;
    border: 1px solid #e0004d;
    border-radius: 8px;
    margin-top: -10px;
    margin-left: 80px;
  }

  .tulisan-tak-antre {
    width: 250px;
    margin-top: 10px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #525252;
  }

  .inside-container-home-3 {
    height: 150px;
    width: 350px;
    padding: 0px 0px 0px 0px;
    margin-top: 30px;
  }

  .home-kategori {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .box-home-kategori {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 90vw;
    height: 150px;
    overflow-x: scroll;
  }

  .box-home-kategori-2 {
    display: flex;
  }

  .product-card-home {
    width: 150px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
  }

  .product-card-home:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
  }

  .product-card-home-2 {
    width: 194px;
    height: 331px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 20px;
    left: 0px;
    top: 35px;
  }

  .product-card-home-2:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
  }

  .box-isi-card-home {
    position: relative;
    display: flex;
    left: 200px;
    height: 380px;
    width: 70vw;
    padding: 0px 0px 0px 0px;
  }

  .box-isi-card-home-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 70vw;
    height: 380px;
    overflow-x: scroll;
  }

  .Obat-obatan {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }

  .obat1 {
    width: 50px;
    height: 50px;
  }

  .inside-container-home-4 {
    width: 80vw;
    height: 450px;
    margin-top: 70px;
  }

  .kejar-diskon {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-top: 30px;
  }

  .box-buruan-ikut {
    position: absolute;
    width: 100vw;
    height: 395px;
    background: linear-gradient(150.85deg, #b0e7e8 -3.37%, #7fb4c4 103.24%);
    border-radius: 16px;
    margin-top: 20px;
    left: -10px;
  }

  .kranjang {
    position: absolute;
    width: 123px;
    height: 145px;
    left: 50px;
    top: 100px;
  }

  .manusia1 {
    position: absolute;
    width: 231px;
    height: 206px;
    left: 0px;
    top: 190px;
  }

  .yuk-buruan-ikut {
    padding-top: 50px;
    margin-left: 40px;
    width: 159px;
    height: 48px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2b478b;
  }

  .inside-container-home-5 {
    width: 90vw;
    height: 450px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
  }

  .box-1-jumbotron {
    width: 90vw;
    height: 212px;
    background: #ffb156;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 41, 0.02), 0px 4px 12px 4px rgba(155, 0, 93, 0.08);
    border-radius: 16px;
    display: flex;
  }

  .box-2-jumbotron {
    width: 90vw;
    height: 212px;
    background: #92c3d1;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 41, 0.02), 0px 4px 12px 4px rgba(155, 0, 93, 0.08);
    border-radius: 16px;
    display: flex
  }

  .hamil {
 
    width: 338px;
    height: 212px;
    
  }
  
  .framebg {
    position: relative;
    width: 348px;
    height: 212px;
    left: -270px;
    top: 0px;
  }
  
  .friend {
    width: 294px;
    height: 249px;
    margin-top: -20px;
  }
  
  .program-hamil {
    margin-left: 140px;
    margin-top: 60px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }
  
  .wujudkan-rumah {
    margin-left: 100px;
    margin-top: 5px;
    width: 230px;
    height: 48px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }
  
  .kebutuhan {
    margin-left: -200px;
    margin-top: 60px;
    width: 201px;
    height: 56px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }
  
  .lengkapi-kebutuhan {
    margin-left: -200px;
    margin-top: 5px;
    width: 200px;
    height: 48px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }

  .inside-container-home-6 {
    width: 80vw;
    height: 430px;
    margin-top: 30px;
  }

  .box-3-jumbotron {
    position: relative;
    display: flex;
    left: 10px;
    height: 330px;
    width: 90vw;
    padding: 0px 0px 0px 0px;
    top: 30px;
  }

  .box-3-jumbotron-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 90vw;
    height: 330px;
    overflow-x: scroll;
  }

  .box-tulisan-6-2 {
    width: 80vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }

  .tulisan-6-1 {
    margin-top: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #213360;
  }

  .tulisan-6-2 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #e0004d;
    margin-top: 35px;
  }

  .inside-container-home-7 {
    width: 80vw;
    height: 300px;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .jaminan {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-top: 10px;
  }

  .container-box-7 {
    width: 90vw;
    height: 180px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    margin-left: -10px;
  }

  .product-card-home-3 {
    width: 30vw;
    height: 130px;
    border-radius: 20px;
    background: #f6fafb;
    box-shadow: -1px -1px 5px 4px rgba(54, 0, 25, 0.01), 2px 2px 2px rgba(96, 33, 51, 0.04), 4px 4px 4px 6px rgba(155, 0, 90, 0.04);
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
  }

  .product-card-home-3:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
  }

  .obats {
    width: 40px;
    height: 50px;
  }

  .hemat {
    width: 40px;
    height: 50px;
  }

  .kirim {
    width: 50px;
    height: 30px;
  }

  .tulisan-7 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-left: 10px;
    margin-top: -5px;
  }

  .tulisan-7-2 {
    width: 180px;
    height: 60px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .hearthome {
    font-size: 20px;
    color: #b4b9c7;
    margin-top: 5px;
  }

  .product-card-home-4 {
    width: 194px;
    height: 331px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    left: 0px;
  }

  .product-card-home-4:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
  }

  .circle-home {
    border-radius: 50%;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .circle-home:hover {
    transform: scale(1.2);
  }

  .product-image-home {
    width: 80%;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .product-name-home {
    font-size: 14px;
    font-weight: 700;
    color: #213360;
    margin-left: 20px;
    width: 130px;
  }

  .product-price-home {
    font-size: 16px;
    font-weight: 700;
    color: #213360;
    margin-right: 5px;
    margin-left: 20px;
  }

  .product-unit-home {
    font-size: 16px;
    color: #213360;
  }

  .keranjang-home {
    background-color: white;
    border: 3px solid #e0004d;
    /* padding: 7px 10px; */
    margin-top: 8px;
    width: 150px !important;
    height: 30px !important;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 800;
    width: 100%;
    color: #e0004d;
    align-self: center;
    cursor: pointer;
  }

  .keranjang-home:hover {
    background-color: #ffe9f1;
  }

  .box-diskon-produk {
    width: 150px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: -8px;
    margin-bottom: 8px;
  }

  .nominal-diskon {
    width: 36px;
    height: 24px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #ff6b6b;
    color: #ff6b6b;
    border-radius: 6px;
  }

  .harga-diskon-home {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #b4b9c7;
    text-decoration-line: line-through;
  }

  .box-unggah-resep-2 {
    width: 600px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
   
  }
}

@media only screen and (max-width: 500px) {
  #container-home {
    height: auto;
    width: 100vw;
    padding: 50px 150px 50px 20px;
  }

  .box-unggah-resep-2 {
    width: 300px;
    height: 80px;
    margin-left: 20px;
    margin-top: 20px;
   
   
  }
  
  #container-jumbotron-payment {
    padding: 0px;
    height: 100px;
    width: 100vw;
    background: #f6fafb;
    margin-left: -25px;
    margin-top: 100px;
  }

  .logo-home {
    width: 40px;
    height: 40px;
  }

  /* .gradient{
    position: absolute;
    width: 50vw;
    height: 500px;
    left: 640px;
    top: -190px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(155, 0, 47, 0.1) 0%, rgba(205, 33, 56, 0) 100%);
  } */

  .inside-container-home {
    width: 327px;
    height: 124px;
    left: 98px;
    top: 136px;
    margin-top: 160px;
    background: #92c3d1;
    box-shadow: 0px 1px 2px 2px rgba(33, 51, 96, 0.02), 0px 4px 8px 2px rgba(0, 155, 144, 0.08);
    border-radius: 8px;
  }

  .box-jumbotron1 {
    width: 247px;
    height: 232px;
    margin-left: 70px;
    margin-top: -73px;
    background: transparent;
    border-radius: 16px;
  }

  .head-image {
    position: relative;
    width: 300px;
    height: 150px;
    top: -231px;
    left: 0px;
  }

  .jumbotron1 {
    position: absolute;
    width: 162px;
    height: 124px;
    left: 95px;
    top: 0px;
  }

  .jumbotron11 {
    position: absolute;
    width: 167px;
    height: 96px;
    left: 170px;
    top: 20px;
  }
  .apotake-terpercaya {
    position: absolute;
    width: 210px !important;
    height: 18px;
    left: 10px;
    top: 50px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #6472a8 0%, #000c36 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .selamat-datang-home {
    display: none;
  }

  .box-apotakecare {
    position: absolute;
    width: 97.53px;
    height: 20px;
    left: -15px;
    top: 5px;
  }

  .tulisan-apotakecare {
    position: absolute;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13.1288px;
    line-height: 15px;
    color: #213360;
    left: 70px;
    top: 15px;
  }

  .keterangan-persen-asli {
    position: absolute;
    width: 150px;
    height: 32px;
    left: 10px;
    top: 75px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .inside-container-home-2 {
    width: 352px;
    height: 168px;
    margin-left: 0px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
  }

  .jumbotron2 {
    width: 99px;
    height: 87px;
    margin-left: -150px;
    margin-top: 0px;
    object-fit: cover;
  }

  .jumbotron22 {
    width: 50px;
    height: 60px;
    margin-left: -80px;
    object-fit: cover;
  }

  .box-unggah-resep {
    width: 327px;
    height: 87px;
    margin-left: 0px;
    margin-top: 50px;
    background: #ffffff;
    box-shadow: 0px 1px 1px 1px rgba(33, 51, 96, 0.02), 1px 2px 6px 2px rgba(0, 155, 144, 0.08);
    border-radius: 8px;
    display: flex;
    
    
  }

  .tulisan-perlu-resep {
    position: relative;
    width: 150px;
    height: 20px;
    left: -10px;
    top: -120px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-top: 80px;
  }

  .btn-unggah-resep {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 0px;
    gap: 10px;
    width: 10px;
    height: 10px;
    color: #213360;
    background: #ffffff;
    border: none;
    margin-top: -100px;
    margin-left: 140px;
  }

  .tulisan-tak-antre {
    position: relative;
    width: 173px;
    height: 36px;
    left: -40px;
    top: -80px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .inside-container-home-3 {
    height: 80px;
    width: 350px;
    padding: 0px 0px 0px 0px;
    margin-top: 0px;
  }

  .home-kategori {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .tab-box-mobile {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 350px;
    height: 60px;
    overflow-x: scroll;
   
  }

  .box-home-kategori {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 350px;
    height: 80px;
    overflow-x: scroll;
   
  }

  .box-home-kategori-2 {
    display: flex;
  }

  .product-card-home {
    width: 100px;
    height: 73px;
    border-radius: 20px;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
  }

  .product-card-home:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
  }

  .product-card-home-2 {
    width: 121px;
    height: 253px;
    border-radius: 8px;
    background: #ffffff;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    left: 0px;
  }

  .product-card-home-2:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
  }

  .box-isi-card-home {
    position: relative;
    display: flex;
    left: 180px;
    height: 320px;
    width: 160px;
    padding: 0px 0px 0px 0px;
   
  }

  .box-isi-card-home-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 160px;
    height: 320px;
    overflow-x: scroll;
   
  }

  .Obat-obatan {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }

  .obat1 {
    width: 30px;
    height: 30px;
  }

  .inside-container-home-4 {
    width: 80vw;
    height: 450px;
    margin-top: 70px;
  }

  .kejar-diskon {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-top: 30px;
  }

  .box-buruan-ikut {
    position: absolute;
    width: 100vw;
    height: 395px;
    background: linear-gradient(150.85deg, #b0e7e8 -3.37%, #7fb4c4 103.24%);
    border-radius: 16px;
    margin-top: 20px;
    left: -10px;
  }

  .kranjang {
    position: absolute;
    width: 123px;
    height: 145px;
    left: 50px;
    top: 100px;
  }

  .manusia1 {
    position: absolute;
    width: 231px;
    height: 206px;
    left: 0px;
    top: 190px;
  }

  .yuk-buruan-ikut {
    padding-top: 50px;
    margin-left: 40px;
    width: 159px;
    height: 48px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #2b478b;
  }

  .inside-container-home-5 {
    width: 85vw;
    height: 310px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   
  }

  .box-1-jumbotron {
    width: 326px;
    height: 124px;
    background: #ffb156;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 41, 0.02), 0px 4px 12px 4px rgba(155, 0, 93, 0.08);
    border-radius: 16px;
    display: flex;
  }

  .box-2-jumbotron {
    width: 326px;
    height: 124px;
    background: #92c3d1;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 41, 0.02), 0px 4px 12px 4px rgba(155, 0, 93, 0.08);
    border-radius: 16px;
    margin-top: 0px;
    display: flex;
  }

  .hamil {
    
    width: 200px;
    height: 125px;
  }

  .framebg {
    position: relative;
    width: 169px;
    height: 124px;
    left: -150px;
    top: 0px;
  }

  .friend {
    width: 200px;
    height: 150px;
    margin-top: -10px;
  }

  .program-hamil {
    margin-left: 0px;
    margin-top: 20px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }

  .wujudkan-rumah {
    margin-left: 0px;
    margin-top: 5px;
    width: 107px;
    height: 54px;
    margin-bottom: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }

  .kebutuhan {
    margin-left: -150px;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }

  .lengkapi-kebutuhan {
    margin-left: -150px;
    margin-top: 10px;
    width: 120px;
    height: 36px;
    margin-bottom: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #213360;
  }

  .inside-container-home-6 {
    width: 80vw;
    height: 430px;
    margin-top: 30px;
  }

  /* .box-isi-card-home{
    position: relative;
    display: flex;
    left: 200px;
    height: 320px;
    width: 180px;
    padding: 0px 0px 0px 0px;
  } */

  .box-3-jumbotron {
    position: relative;
    display: flex;
    left: 10px;
    height: 280px;
    width: 300px;
    padding: 0px 0px 0px 0px;
    top: 30px;
  }

  .box-3-jumbotron-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 300px;
    height: 280px;
    overflow-x: scroll;
  }

  .box-tulisan-6-2 {
    width: 80vw;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }

  .tulisan-6-1 {
    margin-top: 50px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #213360;
  }

  .tulisan-6-2 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #e0004d;
    margin-top: 5px;
    margin-top: 50px;
  }

  .inside-container-home-7 {
    width: 80vw;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 10px;
   
  }

  .jaminan {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-top: 10px;
  }

  .container-box-7 {
    width: 80vw;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .product-card-home-3 {
    width: 324px;
    height: 104px;
    border-radius: 20px;
    background: #f6fafb;
    box-shadow: -1px -1px 5px 4px rgba(54, 0, 25, 0.01), 2px 2px 2px rgba(96, 33, 51, 0.04), 4px 4px 4px 6px rgba(155, 0, 90, 0.04);
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
  }

  .product-card-home-3:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
  }

  .obats {
    width: 44px;
    height: 54.3px;
  }

  .hemat {
    width: 40px;
    height: 57px;
  }

  .kirim {
    width: 59px;
    height: 32px;
  }

  .tulisan-7 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-left: 10px;
  }

  .tulisan-7-2 {
    width: 208px;
    height: 50px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #213360;
  }

  .hearthome {
    font-size: 20px;
    color: #b4b9c7;
    margin-top: 5px;
  }

  .product-card-home-4 {
    width: 140px;
    height: 245px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
    left: 0px;
  }

  .product-card-home-4:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 2px 3px 6px rgba(96, 33, 33, 0.04), 0px 4px 12px 8px rgba(155, 0, 0, 0.1);
  }

  .circle-home {
    border-radius: 50%;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    position: absolute;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .circle-home:hover {
    transform: scale(1.2);
  }

  .product-image-home {
    width: 50%;
    margin-bottom: 0px;
    margin-left: 30px;
  }

  .product-name-home {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #213360;
    margin-left: 40px;
    width: 100px;
  }

  .product-price-home {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #213360;
    margin-right: 5px;
    margin-left: 0px;
  }

  .product-unit-home {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #213360;
  }

  #box-harga-home {
    margin-left: 20px;
  }

  .keranjang-home {
    background-color: white;
    border: 3px solid #e0004d;
    /* padding: 7px 10px; */
    margin-top: 8px;
    width: 100px !important;
    height: 30px !important;
    border-radius: 10px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #e0004d;
    align-self: center;
    cursor: pointer;
  }

  .keranjang-home:hover {
    background-color: #ffe9f1;
  }

  .box-diskon-produk {
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: -8px;
    margin-bottom: 8px;
  }

  .nominal-diskon {
    width: 36px;
    height: 24px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #ff6b6b;
    color: #ff6b6b;
    border-radius: 6px;
  }

  .harga-diskon-home {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #b4b9c7;
    text-decoration-line: line-through;
  }
}
