@media only screen and (max-width: 1400px) {

  .c-ap{
    display: flex;
  }
  
  .wrapper-3 {
    margin-top: 150px;
    margin-bottom: 60px;
  }
  .wrapper-3:before,
  .wrapper-3:after{
    content: ' ';
    display: table;
    clear: both;
  }
  
  .container-ap{
    min-height: 100vh;
    min-width: 90vw;
    padding: 0px 50px 50px 50px;
  }
  
  
  .sidebar-ap{
    background: #FFFFFF;
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  
  

  
   
  
    .judul-alamat-pengiriman{
      width: 229px;
      height: 24px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #213360;
      margin-left: 35px;
      margin-top: 40px;
    }
  
    .garis-alamat{
      width: 790px;
      height: 0px;
      border: 1.5px solid #F5F6F9;
      margin-top: 30px;
    }
  
    .box-alamat-utama{
      width: 630px;
      height: 147px;
      left: 70px;
      top: 130px;
      background: #FFFFFF;
      box-shadow: -1px -1px 5px 4px rgba(54, 0, 14, 0.01), 2px 2px 2px rgba(96, 33, 54, 0.04), 4px 4px 4px 6px rgba(155, 0, 52, 0.04);
      border-radius: 8px;
      margin-left: 40px;
      margin-top: 30px;
    }
  
    .judul-page-alamat{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #0A0A0A;
      padding-top: 10px;
      margin-left: 20px;
    }
  
    .foto-rumah{
      height: 90px;
      width: 90px;
      border-radius: 10px;
      border: 1px solid black;
      margin-top: 10px;
      margin-left: 20px;
    }
  
    .foto-kantor{
      height: 100px;
      width: 100px;
      border-radius: 10px;
      border: 1px solid black;
    }
  
    .box-informasi-alamat{
      width: 300px;
      height: 60px;
      border: 1px solid black;
      margin-left: 30px;
      margin-top: 20px;
    }
  
    .nama-alamat-tujuan{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #0A0A0A;
    }
  
    .alamat-lengkap-utama{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #ABAFB3;
    }
  
    .button-edit-alamat{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 80px;
      height: 30px;
      background: rgb(247, 218, 218);
      border-radius: 8px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #E0004D;
      cursor: pointer;
      margin-left: 80px;
      margin-top: 70px;
    }
  
    .button-edit-alamat:hover{
      box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
    }
  
  
    .button-tambah-alamat{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 157px;
      height: 32px;
      background: #E0004D;
      cursor: pointer;
      border-radius: 8px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 30px;
      margin-top: 250px;
    }
  
    .button-tambah-alamat:hover{
      box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
    }

    .button-next-alamat{
      gap: 10px;
      width: 30px;
      height: 30px;
      background: #E0004D;
      cursor: pointer;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 30px;
      margin-top: 250px;
    }
  
  
  }

  @media only screen and (max-width: 850px) {
    .container-ap{
      min-height: 65vh;
      min-width: 90vw;
      padding: 0px 50px 50px 50px;
      border: 1px solid white;
    }
      
    .c-ap{
      display: flex;
    }
    
  
    .sidebar-ap{
      background: #FFFFFF;
      box-shadow: 0px 2px 3px 2px rgba(96, 33, 33, 0.02), 0px 4px 12px 4px rgba(155, 0, 0, 0.08);
      border-radius: 8px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin-left: 50px;
  
    }
    .judul-alamat-pengiriman{
      width: 229px;
      height: 24px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #213360;
      margin-left: 35px;
      margin-top: 40px;
    }
  
    .garis-alamat{
      width: 550px;
      height: 0px;
      border: 1.5px solid #F5F6F9;
      margin-top: 30px;
    }
  
    .box-alamat-utama{
      width: 480px;
      height: 147px;
      left: 70px;
      top: 130px;
      background: #FFFFFF;
      box-shadow: -1px -1px 5px 4px rgba(54, 0, 14, 0.01), 2px 2px 2px rgba(96, 33, 54, 0.04), 4px 4px 4px 6px rgba(155, 0, 52, 0.04);
      border-radius: 8px;
      margin-left: 40px;
      margin-top: 30px;
    }
  
    .judul-page-alamat{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #0A0A0A;
      padding-top: 10px;
      margin-left: 20px;
    }
  
    .foto-rumah{
      height: 90px;
      width: 90px;
      border-radius: 10px;
      border: 1px solid black;
      margin-top: 10px;
      margin-left: 20px;
    }
  
    .foto-kantor{
      height: 100px;
      width: 100px;
      border-radius: 10px;
      border: 1px solid black;
    }
  
    .box-informasi-alamat{
      width: 300px;
      height: 60px;
      border: 1px solid black;
      margin-left: 30px;
      margin-top: 20px;
    }
  
    .nama-alamat-tujuan{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #0A0A0A;
    }
  
    .alamat-lengkap-utama{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #ABAFB3;
    }
  
    .button-edit-alamat{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 80px;
      height: 30px;
      background: rgb(247, 218, 218);
      border-radius: 8px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #E0004D;
      cursor: pointer;
      margin-left: 50px;
      margin-right: 30px;
      margin-top: 70px;
    }
  
    .button-edit-alamat:hover{
      box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
    }
  
  
    .button-tambah-alamat{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 157px;
      height: 32px;
      background: #E0004D;
      cursor: pointer;
      border-radius: 8px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 30px;
      margin-top: 120px;
    }
  
    .button-tambah-alamat:hover{
      box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
    }

    .button-next-alamat{
      gap: 10px;
      width: 30px;
      height: 30px;
      background: #E0004D;
      cursor: pointer;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 30px;
      margin-top: 120px;
    }
  
  }
  
  
  
  @media only screen and (max-width: 500px) {
    .wrapper-3 {
      margin-top: 0px;
      margin-bottom: 20px;
    }
    .container-ap{
      min-height: 90vh;
      min-width: 90vw;
      padding: 0px;
      border: 1px solid white;
    }

    .c-ap{
      display: flex;
      flex-direction: column;
      width: 370px;
      margin-top: 0px;
      margin-left: 0px;
    }
  
    .sidebar-ap{
      background: #FFFFFF;
      box-shadow: none;
      border-radius: 8px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin-left: 50px;
      margin-left: 0px;
    }
  
    
    .sidebar-ap-1{
      display: none;
    }
  
    .pinggiran-atas-alamat{
      width: 24px;
      height: 22.22px;
      left: 20px;
      top: 39px;
    }
    
    .judul-alamat-pengiriman{
      width: 229px;
      height: 24px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #213360;
      margin-left: 35px;
      margin-top: 40px;
    }
  
    .garis-alamat{
      display: none;
    }
  
    .box-alamat-utama{
      width: 300px;
      height: 147px;
      left: 70px;
      top: 130px;
      background: #FFFFFF;
      box-shadow: -1px -1px 5px 4px rgba(54, 0, 14, 0.01), 2px 2px 2px rgba(96, 33, 54, 0.04), 4px 4px 4px 6px rgba(155, 0, 52, 0.04);
      border-radius: 8px;
      margin-left: 40px;
      margin-top: 30px;
    }
  
    .judul-page-alamat{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
      color: #0A0A0A;
      padding-top: 10px;
      margin-left: 20px;
    }
  
    .foto-rumah{
      height: 50px;
      width: 50px;
      border: 1px solid black;
      margin-top: 10px;
      margin-left: 20px;
    }
  
    .foto-kantor{
      height: 100px;
      width: 100px;
      border-radius: 10px;
      border: 1px solid black;
    }
  
    .box-informasi-alamat{
      width: 500px;
      height: 60px;
      border: 1px solid black;
      margin-left: 30px;
      margin-top: 20px;
    }
  
    .nama-alamat-tujuan{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #0A0A0A;
    }
  
    .alamat-lengkap-utama{
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: #ABAFB3;
    }
  
    .button-edit-alamat{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 15px 15px;
      width: 80px;
      height: 30px;
      background: rgb(247, 218, 218);
      border-radius: 8px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #E0004D;
      cursor: pointer;
      margin-left: 20px;
      margin-top: 70px;
    }
  
    .button-edit-alamat:hover{
      box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
    }
  
  
    .button-tambah-alamat{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 157px;
      height: 32px;
      background: #E0004D;
      cursor: pointer;
      border-radius: 8px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 30px;
      margin-top: 250px;
    }
  
    .button-tambah-alamat:hover{
      box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
    }

    .button-next-alamat{
      gap: 10px;
      width: 30px;
      height: 30px;
      background: #E0004D;
      cursor: pointer;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      color: #FFFFFF;
      margin-left: 30px;
      margin-top: 250px;
    }
  
  }