.container-alamat-pengiriman{
  min-height: 130vh;
  min-width: 90vw;
  padding: 50px 150px 50px 150px;
}

  .keterangan-verifikasi-ap{
    width: 229px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
    margin-top: 40px;
    margin-left: 30px;
  }

  .judul-alamat-pengiriman{
    width: 229px;
    height: 24px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #213360;
    border: 1px solid black;
  }

  .garis-alamat{
    width: 775px;
    height: 0px;
    left: 0px;
    margin-top: 50px;
    border: 1.5px solid #F5F6F9;
  }

  .box-pd-ap{
    margin-top: 50px;
    margin-left: 50px;
  }

  .box-alamat-utama{
    width: 630px;
    height: 147px;
    background: #FFFFFF;
    box-shadow: -1px -1px 5px 4px rgba(54, 0, 14, 0.01), 2px 2px 2px rgba(96, 33, 54, 0.04), 4px 4px 4px 6px rgba(155, 0, 52, 0.04);
    border-radius: 8px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  .judul-page-alamat{
    left: 35px;
    right: 63.61%;
    top: 10px;
    bottom: 70.23%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #0A0A0A;
    margin-top: 10px;
    margin-left: 20px;
  }

  .foto-rumah{
    height: 130px;
    width: 130px;
    border-radius: 10px;
  }

  .box-inside-ap{
  
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 570px;
    height: 90px;
    margin-top: 10px;
  }

  .box-informasi-alamat{
    width: 300px;
    height: 60px;
  }

  .nama-alamat-tujuan{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #0A0A0A;
  }

  .alamat-lengkap-utama{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #ABAFB3;
  }

  .button-edit-alamat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 30px;
    background: rgb(247, 218, 218);
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #E0004D;
    cursor: pointer;
  }

  .button-edit-alamat:hover{
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
  }


  .button-tambah-alamat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 157px;
    height: 32px;
    left: 40px;
    top: 480px;
    background: #E0004D;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
  }

  .button-tambah-alamat:hover{
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
  }

  .button-tambah-alamat-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 157px;
    height: 32px;
    left: 40px;
    top: 480px;
    background: #E0004D;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 30px;
  }

  .button-tambah-alamat-2:hover{
    box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
  }

  .button-next-alamat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 30px;
    height: 30px;
    left: 220px;
    top: 480px;
    background: #E0004D;
    cursor: pointer;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;

  }

  /* TAMBAHAN AJA */

  .box-alamat-selanjutnya{
    width: 630px;
    height: 147px;
    left: 70px;
    top:300px;
    background: #FFFFFF;
    box-shadow: -1px -1px 5px 4px rgba(54, 0, 14, 0.01), 2px 2px 2px rgba(96, 33, 54, 0.04), 4px 4px 4px 6px rgba(155, 0, 52, 0.04);
    border-radius: 8px; 
  }

  @media only screen and (max-width: 850px) {
    .garis-alamat{
      width: 550px;
      height: 0px;
      left: 0px;
      margin-top: 50px;
      border: 1.5px solid #F5F6F9;
      
    }
  
    .box-pd-ap{
      margin-top: 30px;
      margin-left: 40px;
    }
  
    .box-alamat-utama{
      width: 480px;
      height: 147px;
      background: #FFFFFF;
      box-shadow: -1px -1px 5px 4px rgba(54, 0, 14, 0.01), 2px 2px 2px rgba(96, 33, 54, 0.04), 4px 4px 4px 6px rgba(155, 0, 52, 0.04);
      border-radius: 8px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
     
    }
  
    .judul-page-alamat{
      left: 35px;
      right: 63.61%;
      top: 10px;
      bottom: 70.23%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #0A0A0A;
      margin-top: 10px;
      margin-left: 20px;
    }
  
    .foto-rumah{
      height: 130px;
      width: 130px;
      border-radius: 10px;
    }
  
    .box-inside-ap{
    
      margin-left: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 450px;
      height: 95px;
      margin-top: 10px;
    }
  
    .box-informasi-alamat{
      width: 200px;
      height: 60px;
    }
  
  }
    
    @media only screen and (max-width: 500px) {
      .container-alamat-pengiriman{
        min-height: 130vh;
        min-width: 90vw;
        padding: 50px 150px 50px 150px;
        border: 1px solid blue
      }

      
      .box-inside-ap{
        margin-left: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 320px;
        height: 95px;
        margin-top: 0px;
      
      }

      .box-pd-ap{
        width: 350px !important;
        margin-top: 20px;
        margin-left: 20px;
       
      }

      .box-mp{
        margin-top: 80px;
        
      }
    
      .box-alamat-lengkap{
        width: 300px;
        height: 300px;
        background: #FFFFFF;
        box-shadow: none;
        border-radius: none;
      }
    
      .pinggiran-atas-alamat{
        width: 24px;
        height: 22.22px;
        left: 20px;
        top: 39px;
      }
      
      .judul-alamat-pengiriman{
  
        width: 262px;
        height: 22px;
        left: 48px;
        top: 40px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #213360;
      }
    
      .garis-alamat{
  
        width: 350px;
        height: 0px;
        left: 0px;
        top: 90px;
        border: 1.5px solid #F5F6F9;
      }
    
      .box-alamat-utama{
        width: 350px;
        height: 120px;
        background: #FFFFFF;
        box-shadow: -1px -1px 5px 4px rgba(54, 0, 14, 0.01), 2px 2px 2px rgba(96, 33, 54, 0.04), 4px 4px 4px 6px rgba(155, 0, 52, 0.04);
        border-radius: 8px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
      }
    
    

      .judul-page-alamat{
  
        left: 15px;
        right: 63.61%;
        top: 10px;
        width: 150px;
        bottom: 70.23%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #0A0A0A;
      }
    
      .foto-rumah{
  
        left: 15px;
        right: 78.59%;
        top: 20px;
        bottom: -16.25%;
        height: 90px;
        width: 90px;
        border-radius: 10px;
      }
    
      .foto-kantor{
  
        left: 15px;
        right: 78.59%;
        top: 25px;
        bottom: -16.25%;
        height: 90px;
        width: 90px;
        border-radius: 10px;
      }
    
      .box-informasi-alamat{
  
        width: 150px;
        height: 70px;
        left: 110px;
        top: 40px;
      }
    
      .nama-alamat-tujuan{
  
        left: 0px;
        right: 38.13%;
        top:0px;
        bottom: 80.91%;
        width: 150px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;
        color: #0A0A0A;
       
      }
    
      .alamat-lengkap-utama{
  
        left: 0px;
        right: 26.93%;
        top: 25px;
        bottom: 75.49%;
        height: 50px;
        width: 150px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 18px;
        color: #ABAFB3;
    
      }
    
      .button-edit-alamat{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 50px;
        height: 30px;
  
        left: 270px;
        right: 12.93%;
        top: 75px;
        bottom: 71.43%;
        background: rgb(247, 218, 218);
        border-radius: 8px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 21px;
        color: #E0004D;
        cursor: pointer;
      }
    
      .button-edit-alamat:hover{
        box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
      }
    
    
      .button-tambah-alamat{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
  
        width: 157px;
        height: 32px;
        left: 100px;
        top: 420px;
        background: #E0004D;
        cursor: pointer;
        border-radius: 8px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
      }
    
      .button-tambah-alamat:hover{
        box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
      }

      .button-tambah-alamat-2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 157px;
        height: 32px;
        margin-left: 30px;
        margin-top: 30px;
        background: #E0004D;
        cursor: pointer;
        border-radius: 8px;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
      }
    
      .button-tambah-alamat-2:hover{
        box-shadow: 0px 2px 3px 2px rgba(96, 33, 43, 0.08), 0px 4px 12px 4px rgba(155, 0, 0, 0.28);
      }
  
      .button-next-alamat{
        display: none;
      }
    
      /* TAMBAHAN AJA */
    
      .box-alamat-selanjutnya{
  
        width: 327px;
        height: 114px;
        left: 15px;
        top: 265px;
        background: #FFFFFF;
        box-shadow: -1px -1px 5px 4px rgba(54, 0, 14, 0.01), 2px 2px 2px rgba(96, 33, 54, 0.04), 4px 4px 4px 6px rgba(155, 0, 52, 0.04);
        border-radius: 8px;
      }
    
    }